<?xml version="1.0"?>
<config>
    <modules>
        <FactoryX_Gua>
            <version>1.2.13</version>
        </FactoryX_Gua>
    </modules>
    <global>
        <models>
            <factoryx_gua>
                <class>FactoryX_Gua_Model</class>
            </factoryx_gua>
        </models>
        <blocks>
            <factoryx_gua>
                <class>FactoryX_Gua_Block</class>
            </factoryx_gua>
        </blocks>
        <helpers>
            <factoryx_gua>
                <class>FactoryX_Gua_Helper</class>
            </factoryx_gua>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <factoryx_gua>
                    <file>factoryx/gua.xml</file>
                </factoryx_gua>
            </updates>
        </layout>
        <events>
            <sales_quote_add_item>
                <observers>
                    <factoryx_gua_log_cart_add>
                        <class>factoryx_gua/observer</class>
                        <method>logCartAdd</method>
                    </factoryx_gua_log_cart_add>
                </observers>
            </sales_quote_add_item>
            <sales_quote_remove_item>
                <observers>
                    <factoryx_gua_log_cart_remove>
                        <class>factoryx_gua/observer</class>
                        <method>logCartRemove</method>
                    </factoryx_gua_log_cart_remove>
                </observers>
            </sales_quote_remove_item>
            <customer_login>
                <observers>
                    <factoryx_gua_log_customer_cart>
                        <class>factoryx_gua/observer</class>
                        <method>customerLogin</method>
                    </factoryx_gua_log_customer_cart>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <factoryx_gua_unlog_customer_cart>
                        <class>factoryx_gua/observer</class>
                        <method>customerLogout</method>
                    </factoryx_gua_unlog_customer_cart>
                </observers>
            </customer_logout>
        </events>
    </frontend>
    <default>
        <gua>
            <ecommerce>
                <transaction_id>id</transaction_id>
            </ecommerce>
        </gua>
    </default>
</config>