<?xml version="1.0"?>
<config>
    <modules>
        <FactoryX_ModulesFeed>
            <version>0.1.0</version>
        </FactoryX_ModulesFeed>
    </modules>
    <frontend>
		<routers> 
			<modulesfeed>
				<use>standard</use>
				<args> 
					<module>FactoryX_ModulesFeed</module> 
					<frontName>modulesfeed</frontName> 
				</args> 
			</modulesfeed> 
		</routers>
	</frontend>
</config>