<?xml version="1.0"?>
<config>

    <modules>
        <MDN_EasyReview>
            <version>1.3</version>
        </MDN_EasyReview>
    </modules>

    <global>
        <helpers>
            <EasyReview>
                <class>MDN_EasyReview_Helper</class>
            </EasyReview>
        </helpers>

        <blocks>
            <EasyReview>
                <class>MDN_EasyReview_Block</class>
            </EasyReview>
        </blocks>

        <models>
            <EasyReview>
                <class>MDN_EasyReview_Model</class>
                <resourceModel>EasyReview_mysql4</resourceModel>
            </EasyReview>

            <EasyReview_mysql4>
                <class>MDN_EasyReview_Model_Mysql4</class>
                <entities>
                    <Log>
                        <table>easy_review_log</table>
                    </Log>
                </entities>
            </EasyReview_mysql4>

        </models>

        <resources>
            <EasyReview_setup>
                <setup>
                    <module>MDN_EasyReview</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </EasyReview_setup>
            <EasyReview_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </EasyReview_write>
            <EasyReview_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </EasyReview_read>
        </resources>

        <template>
            <email>
                <easyreview_general_email_template translate="label" module="EasyReview">
                    <label>Easy review notification</label>
                    <file>EasyReview/notification.html</file>
                    <type>html</type>
                </easyreview_general_email_template>
            </email>
        </template>

    </global>

    <adminhtml>

        <layout>
            <updates>
                <EasyReview>
                    <file>EasyReview.xml</file>
                </EasyReview>
            </updates>
        </layout>


        <translate>
            <modules>
                <MDN_EasyReview>
                    <files>
                        <default>MDN_EasyReview.csv</default>
                    </files>
                </MDN_EasyReview>
            </modules>
        </translate>


        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <easyreview module="EasyReview">
                                            <title>Easy Review</title>
                                        </easyreview>
                                    </children>
                                </config>
                            </children>
                        </system>

                    </children>
                </admin>
            </resources>
        </acl>

    </adminhtml>

    <frontend>
        <routers>
            <EasyReview>
                <use>standard</use>
                <args>
                    <module>MDN_EasyReview</module>
                    <frontName>EasyReview</frontName>
                </args>
            </EasyReview>
        </routers>
        <layout>
            <updates>
                <EasyReview>
                    <file>EasyReview.xml</file>
                </EasyReview>
            </updates>
        </layout>

        <translate>
            <modules>
                <MDN_EasyReview>
                    <files>
                        <default>MDN_EasyReview.csv</default>
                    </files>
                </MDN_EasyReview>
            </modules>
        </translate>
    </frontend>

    <admin>
        <routers>
            <EasyReview>
                <use>admin</use>
                <args>
                    <module>MDN_EasyReview</module>
                    <frontName>EasyReview</frontName>
                </args>
            </EasyReview>
        </routers>
    </admin>

    <default>
        <easyreview>
            <general>
                <notify_delay>30</notify_delay>
            </general>
            <product>
                <allow_parent>1</allow_parent>
                <allow_child>0</allow_child>
            </product>
        </easyreview>
    </default>

    <crontab>
        <jobs>
            <easyreview_notification>
                <schedule>
                    <cron_expr>30 16 * * *</cron_expr>
                </schedule>
                <run>
                    <model>EasyReview/Observer::sendNotification</model>
                </run>
            </easyreview_notification>
        </jobs>
    </crontab>

</config>