<?xml version="1.0"?>
<config>
    <modules>
        <FactoryX_Pinterest>
            <version>1.0.8</version>
        </FactoryX_Pinterest>
    </modules>
    <global>
        <models>
            <factoryx_pinterest>
                <class>FactoryX_Pinterest_Model</class>
                <resourceModel>factoryx_pinterest_resource</resourceModel>
            </factoryx_pinterest>
            <factoryx_pinterest_resource>
                <class>FactoryX_Pinterest_Model_Resource</class>
            </factoryx_pinterest_resource>
        </models>
        <blocks>
            <factoryx_pinterest>
                <class>FactoryX_Pinterest_Block</class>
            </factoryx_pinterest>
        </blocks>
        <helpers>
            <factoryx_pinterest>
                <class>FactoryX_Pinterest_Helper</class>
            </factoryx_pinterest>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <factoryx_pinterest>
                    <file>factoryx/pinterest.xml</file>
                </factoryx_pinterest>
            </updates>
        </layout>
    </frontend>
    <default>
        <pinterest>
            <general>
                <enable>0</enable>
            </general>
        </pinterest>
    </default>
</config>
