<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <FactoryX_AskStylist>
            <version>1.0.0</version>
        </FactoryX_AskStylist>
    </modules>
    <frontend>
        <routers>           
            <contacts>
                <args>
                    <modules>
                        <FactoryX_AskStylist before="Mage_Contacts">FactoryX_AskStylist</FactoryX_AskStylist>
                    </modules>
                </args>
            </contacts> 
        </routers>
    </frontend>
</config>