# Core Magento files
/media
/var
/index.php
/app/etc/local.xml
/.htaccess
/dev

# IDE
/.idea

# Modman
/.modman

# CommerceBug
/app/code/local/Raphalpetrini
/app/etc/modules/Raphalpetrini_Commercebug.xml
/js/commercebug

# DevTools
/app/code/local/FactoryX/DevTools
/app/code/local/Mage/Core/Controller/Varien/Front.php
/app/etc/modules/FactoryX_DevTools.xml
/shell/emailTemplateGenerator.php
