<?xml version="1.0"?>
<config>
    <modules>
        <FactoryX_CategoryBanners>
            <version>0.1.17</version>
        </FactoryX_CategoryBanners>
    </modules>

    <!-- Admin route -->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <FactoryX_CategoryBanners after="Mage_Adminhtml">FactoryX_CategoryBanners_Adminhtml</FactoryX_CategoryBanners>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <!-- Translation files -->
        <translate>
            <modules>
                <FactoryX_CategoryBanners>
                    <files>
                        <default>FactoryX_CategoryBanners.csv</default>
                    </files>
                </FactoryX_CategoryBanners>
            </modules>
        </translate>
        <!-- Events -->
        <events>
            <!-- Event to set the category banner to the block -->
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <factoryx_set_banner>
                        <type>singleton</type>
                        <class>categorybanners/observer</class>
                        <method>setCategoryBanner</method>
                    </factoryx_set_banner>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <!-- Event to change the HTML on the fly -->
            <core_block_abstract_to_html_after>
                <observers>
                    <factoryx_banner_html>
                        <type>singleton</type>
                        <class>categorybanners/observer</class>
                        <method>bannerToHtml</method>
                    </factoryx_banner_html>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>

    <adminhtml>
        <!-- Translation file -->
        <translate>
            <modules>
                <FactoryX_CategoryBanners>
                    <files>
                        <default>FactoryX_CategoryBanners.csv</default>
                    </files>
                </FactoryX_CategoryBanners>
            </modules>
        </translate>
    </adminhtml>

    <global>
        <!-- Models declaration -->
        <models>
            <categorybanners>
                <!-- Init model for categorybanners module -->
                <class>FactoryX_CategoryBanners_Model</class>
                <!-- Init db config handler for categorybanners models -->
                <resourceModel>categorybanners_mysql4</resourceModel>
            </categorybanners>

            <!-- declaring model vs db table relation -->
            <categorybanners_mysql4>
                <class>FactoryX_CategoryBanners_Model_Mysql4</class>
                <!-- declare table banner -->
                <entities>
                    <banner>
                        <table>fx_categorybanners_banners</table>
                    </banner>
                </entities>
            </categorybanners_mysql4>
        </models>

        <!-- Helper declaration -->
        <helpers>
            <categorybanners>
                <class>FactoryX_CategoryBanners_Helper</class>
            </categorybanners>
        </helpers>

        <!-- Blocks declaration -->
        <blocks>
            <categorybanners>
                <class>FactoryX_CategoryBanners_Block</class>
            </categorybanners>
        </blocks>

        <!-- Resources declaration -->
        <resources>
            <categorybanners_setup>
                <setup>
                    <module>FactoryX_CategoryBanners</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </categorybanners_setup>
            <categorybanners_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </categorybanners_write>
            <categorybanners_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </categorybanners_read>
        </resources>
    </global>

    <!-- Cron config -->
    <crontab>
        <jobs>
            <factoryx_categorybanners_toggle>
                <schedule>
                    <config_path>categorybanners/options/cron_expr</config_path>
                </schedule>
                <run>
                    <model>categorybanners/observer::toggleBanners</model>
                </run>
            </factoryx_categorybanners_toggle>
        </jobs>
    </crontab>

    <!-- Default configuration -->
    <default>
        <categorybanners>
            <options>
                <cron_expr>0 1 * * *</cron_expr>
                <override>0</override>
            </options>
        </categorybanners>
    </default>

    <!-- PHPUnit tests -->
    <phpunit>
        <suite>
            <modules>
                <FactoryX_CategoryBanners/>
            </modules>
        </suite>
    </phpunit>
</config>