<?xml version="1.0"?>
<config>

    <default>
        <westfield>
            <options>
                <enabled>yes</enabled>
                <campaign_id>10l53</campaign_id>
                <track_domain>prf.hn</track_domain>
            </options>
        </westfield>                
    </default>

	<modules>
		<FactoryX_Westfield>
			<version>0.1.0</version>
		</FactoryX_Westfield>
	</modules>
	
	<frontend>
		<layout>
			<updates>
				<westfield module="FactoryX_Westfield">
					<file>factoryx/westfield.xml</file>
				</westfield>
			</updates>
		</layout>
	</frontend>
	
	<global>
		<helpers>
			<westfield>
                <class>FactoryX_Westfield_Helper</class>
            </westfield>
        </helpers>
	</global>

</config>