<?xml version="1.0"?>
<!--
/**
 * Retail Evolved - Facebook Like Analytics
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA that is bundled with this
 * package in the file EVOLVED_EULA.rtf.
 * It is also available through the world-wide-web at this URL:
 * http://retailevolved.com/eula-1-0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to service@retailevolved.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * You may edit this file, but only at your own risk, as long as it is within
 * the constraints of the license agreement. Before upgrading the module (not Magento), 
 * be sure to back up your original installation as the upgrade may override your
 * changes.
 *
 * @category   Evolved
 * @package    Evolved_LikeAnalytics
 * @copyright  Copyright (c) 2010 Kaelex Inc. DBA Retail Evolved (http://retailevolved.com)
 * @license    http://retailevolved.com/eula-1-0 (Retail Evolved EULA 1.0)
 */
-->
<config>
	<modules>
		<Evolved_LikeAnalytics>
			<version>1.2.0</version>
		</Evolved_LikeAnalytics>
	</modules>
	<global>
		<blocks>
			<evlikeanalytics>
				<class>Evolved_LikeAnalytics_Block</class>
			</evlikeanalytics>
		</blocks>
		<helpers>
			<evlikeanalytics>
				<class>Evolved_LikeAnalytics_Helper</class>
			</evlikeanalytics>
		</helpers>
		<models>
			<evlikeanalytics>
				<class>Evolved_LikeAnalytics_Model</class>
				<resourceModel>evlikeanalytics_mysql4</resourceModel>
			</evlikeanalytics>
			<evlikeanalytics_mysql4>
				<class>Evolved_LikeAnalytics_Model_Mysql4</class>
				<entities>
					<stat>
						<table>evlikeanalytics_stat</table>
					</stat>
				</entities>
			</evlikeanalytics_mysql4>
		</models>
		<resources>
			<evlikeanalytics_setup>
				<setup>
					<module>Evolved_LikeAnalytics</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</evlikeanalytics_setup>
			<evlikeanalytics_write>
				<connection>
					<use>core_write</use>
				</connection>
			</evlikeanalytics_write>
			<evlikeanalytics_read>
				<connection>
					<use>core_read</use>
				</connection>
			</evlikeanalytics_read>
		</resources>
	</global>
	<admin>
		<routers>
			<evlikeanalytics>
				<use>admin</use>
				<args>
					<module>Evolved_LikeAnalytics</module>
					<frontName>evlikeanalytics</frontName>
				</args>
			</evlikeanalytics>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<report>
				<children>
					<evlikeanalytics module="evlikeanalytics">
						<title>Like Analytics</title>
						<sort_order>70</sort_order>
						<children>
							<generate module="evlikeanalytics">
								<title>Refresh Stats</title>
								<sort_order>5</sort_order>
								<action>evlikeanalytics/adminhtml_generate</action>
							</generate>
							<view module="evlikeanalytics">
								<title>View Stats</title>
								<sort_order>10</sort_order>
								<action>evlikeanalytics/adminhtml_view</action>
							</view>
						</children>
					</evlikeanalytics>
				</children>
			</report>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<report>
							<children>
								<evlikeanalytics translate="title" module="evlikeanalytics">
									<title>Like Analytics</title>
									<sort_order>10</sort_order>
									<children>
										<generate translate="title">
											<title>Refresh Stats</title>
										</generate>
										<view translate="title">
											<title>View Stats</title>
										</view>
									</children>
								</evlikeanalytics>
							</children>
						</report>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<layout>
		<updates>
			<evlikeanalytics>
				<file>evlikeanalytics.xml</file>
			</evlikeanalytics>
		</updates>
	</layout>
  <default>
		<evlikeanalytics>
			<general>
				<ev_use_rewrite>1</ev_use_rewrite>
			</general>
		</evlikeanalytics>
	</default>
	<crontab>
        <jobs>
            <evlikeanalytics_get_stats>
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>evlikeanalytics/observer::getStats</model></run>
            </evlikeanalytics_get_stats>
        </jobs>
    </crontab>
</config>