<?xml version="1.0"?>
<config>
    <modules>
        <Aromicon_Gua>
            <version>1.2.6</version>
        </Aromicon_Gua>
    </modules>
    <global>
        <models>
            <aromicon_gua>
                <class>Aromicon_Gua_Model</class>
            </aromicon_gua>
        </models>
        <blocks>
            <aromicon_gua>
                <class>Aromicon_Gua_Block</class>
            </aromicon_gua>
        </blocks>
        <helpers>
            <aromicon_gua>
                <class>Aromicon_Gua_Helper</class>
            </aromicon_gua>
        </helpers>
        <resources>
            <aromicon_gua_setup>
                <setup>
                    <module>Aromicon_Gua</module>
                </setup>
            </aromicon_gua_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <aromicon_gua>
                    <file>aromicon_gua.xml</file>
                </aromicon_gua>
            </updates>
        </layout>
		<events>
            <sales_quote_add_item>
                <observers>
                    <aromicon_gua_log_cart_add>
                        <class>aromicon_gua/observer</class>
                        <method>logCartAdd</method>
                    </aromicon_gua_log_cart_add>
                </observers>
            </sales_quote_add_item>
			<sales_quote_remove_item>
                <observers>
                    <aromicon_gua_log_cart_remove>
                        <class>aromicon_gua/observer</class>
                        <method>logCartRemove</method>
                    </aromicon_gua_log_cart_remove>
                </observers>
            </sales_quote_remove_item>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <aromicon_gua>
                                            <title>Aromicon Google Universal Analytics Config Section</title>
                                        </aromicon_gua>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <aromicon_gua>
            <ecommerce>
                <transaction_id>id</transaction_id>
            </ecommerce>
        </aromicon_gua>
    </default>
</config>