<?xml version="1.0"?>

<config>

    <modules>
        <FactoryX_BirthdayGift>
            <version>0.3.1</version>
        </FactoryX_BirthdayGift>
    </modules>
	
	<frontend>
		<!-- Translation file -->
		<translate>
            <modules>
                <FactoryX_BirthdayGift>
                    <files>
                        <default>FactoryX_BirthdayGift.csv</default>
                    </files>
                </FactoryX_BirthdayGift>
            </modules>
        </translate>
	</frontend>
	
	<adminhtml>
		<!-- Backend translation file -->
        <translate>
            <modules>
                <FactoryX_BirthdayGift>
                    <files>
                        <default>FactoryX_BirthdayGift.csv</default>
                    </files>
                </FactoryX_BirthdayGift>
            </modules>
        </translate>
    </adminhtml>
    
    <global>
	
		<helpers>
            <birthdaygift>
                <class>FactoryX_BirthdayGift_Helper</class>
            </birthdaygift>
        </helpers>
	
        <models>
        	<birthdaygift>
        		<class>FactoryX_BirthdayGift_Model</class>
        	</birthdaygift>
        </models>
		
		<default>
			<bdayconfig>
				<options>
					<prefix>bday</prefix>
					<value>10</value>
				</options>
			</bdayconfig>
	   </default>
        
    </global>
    
<!-- 	<crontab> 
		<jobs> 
			<factoryx_birthdaygift_send>
				<schedule>
					<cron_expr>0 1 * * *</cron_expr>
				</schedule>
				<run>
					<model>birthdaygift/observer::sendBirthdayEmail</model>
				</run>
			</factoryx_birthdaygift_send> 
		</jobs> 
	</crontab> -->
    
</config>
