<?xml version="1.0"?>
<config>
    <modules>
        <FactoryX_AjaxLogin>
            <version>0.3.5</version>
        </FactoryX_AjaxLogin>
    </modules>
    <global>
        <helpers>
            <ajaxlogin>
                <class>FactoryX_AjaxLogin_Helper</class>
            </ajaxlogin>
        </helpers>
        <blocks>
            <ajaxlogin>
                <class>FactoryX_AjaxLogin_Block</class>
            </ajaxlogin>
        </blocks>
    </global>
    <frontend>
        <routers>
            <ajaxlogin>
                <use>standard</use>
                <args>
                    <module>FactoryX_AjaxLogin</module>
                    <frontName>ajaxlogin</frontName>
                </args>
            </ajaxlogin>
        </routers>
        <secure_url>
            <ajaxlogin>/ajaxlogin</ajaxlogin>
        </secure_url>
        <layout>
            <updates>
                <FactoryX_AjaxLogin>
                    <file>factoryx/ajaxlogin.xml</file>
                </FactoryX_AjaxLogin>
            </updates>
        </layout>
    </frontend>
    <default>
        <ajaxlogin>
            <options>
                <enable>1</enable>
            </options>
        </ajaxlogin>
    </default>
    <phpunit>
        <suite>
            <modules>
                <FactoryX_AjaxLogin/>
            </modules>
        </suite>
    </phpunit>
</config>