<?xml version="1.0"?>
<config>
    <modules>
        <FactoryX_AjaxLogin>
            <version>0.3.10</version>
        </FactoryX_AjaxLogin>
    </modules>
    <global>
        <helpers>
            <ajaxlogin>
                <class>FactoryX_AjaxLogin_Helper</class>
            </ajaxlogin>
        </helpers>
        <blocks>
            <ajaxlogin>
                <class>FactoryX_AjaxLogin_Block</class>
            </ajaxlogin>
        </blocks>
        <models>
            <ajaxlogin>
                <class>FactoryX_AjaxLogin_Model</class>
            </ajaxlogin>
        </models>
    </global>
    <frontend>
        <routers>
            <ajaxlogin>
                <use>standard</use>
                <args>
                    <module>FactoryX_AjaxLogin</module>
                    <frontName>ajaxlogin</frontName>
                </args>
            </ajaxlogin>
        </routers>
        <secure_url>
            <ajaxlogin>/ajaxlogin</ajaxlogin>
        </secure_url>
        <layout>
            <updates>
                <FactoryX_AjaxLogin>
                    <file>factoryx/ajaxlogin.xml</file>
                </FactoryX_AjaxLogin>
            </updates>
        </layout>
        <events>
            <!-- Called to add the ReCAPTCHA blocks dynamically -->
            <controller_action_layout_load_before>
                <observers>
                    <factoryx_ajaxlogin_add_recaptcha_blocks>
                        <type>singleton</type>
                        <class>ajaxlogin/observer</class>
                        <method>addRecaptchaBlocks</method>
                    </factoryx_ajaxlogin_add_recaptcha_blocks>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
    <default>
        <ajaxlogin>
            <options>
                <enable>1</enable>
            </options>
        </ajaxlogin>
    </default>
    <adminhtml>
        <events>
            <!-- Called by the ReCAPTCHA module -->
            <studioforty9_recaptcha_routes>
                <observers>
                    <factoryx_ajaxlogin_add_route>
                        <type>singleton</type>
                        <class>ajaxlogin/observer</class>
                        <method>addCustomRoute</method>
                    </factoryx_ajaxlogin_add_route>
                </observers>
            </studioforty9_recaptcha_routes>
        </events>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <FactoryX_AjaxLogin/>
            </modules>
        </suite>
    </phpunit>
</config>