<?xml version="1.0"?>
<config>
    <modules>
        <FactoryX_ExtraConfigFields>
            <version>0.1.6</version>
        </FactoryX_ExtraConfigFields>
    </modules>
    <global>
        <models>
            <extraconfigfields>
                <class>FactoryX_ExtraConfigFields_Model</class>
            </extraconfigfields>
        </models>
        <helpers>
            <extraconfigfields>
                <class>FactoryX_ExtraConfigFields_Helper</class>
            </extraconfigfields>
        </helpers>

        <resources>
            <extraconfigfields_setup>
                <setup>
                    <module>FactoryX_ExtraConfigFields</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </extraconfigfields_setup>
            <extraconfigfields_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </extraconfigfields_write>
            <extraconfigfields_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </extraconfigfields_read>
        </resources>

        <events>
            <add_email_variables_after>
                <observers>
                    <extra_config_fields_override_store_email>
                        <class>extraconfigfields/observer</class>
                        <method>overrideStoreEmailVariable</method>
                    </extra_config_fields_override_store_email>
                </observers>
            </add_email_variables_after>
            <adminhtml_init_system_config>
                <observers>
                    <extra_config_fields_renaming>
                        <class>extraconfigfields/observer</class>
                        <method>renameSystemConfig</method>
                    </extra_config_fields_renaming>
                </observers>
            </adminhtml_init_system_config>
        </events>
    </global>
</config>