<?xml version="1.0"?>
<config>
	<modules>
		<Balanced_CustomerSurvey>
		  <version>1.0.2</version>
		</Balanced_CustomerSurvey>
	</modules>
	
	<frontend>
        <routers>
            <customersurvey>
                <use>standard</use>
                <args>
                    <module>Balanced_CustomerSurvey</module>
                    <frontName>customersurvey</frontName>
                </args>
            </customersurvey>
        </routers>
        <layout>
            <updates>
                <customersurvey>
                    <file>customersurvey.xml</file>
                </customersurvey>
            </updates>
        </layout>
    </frontend>
	
	
	<global>
		<blocks>
			<customersurvey>
				<class>Balanced_CustomerSurvey_Block</class>
			</customersurvey>				
		</blocks>
		<helpers>
			<CustomerSurvey>
				<class>Balanced_CustomerSurvey_Helper</class>
			</CustomerSurvey>
		</helpers>		
		<models>
            <customersurvey>
                <class>Balanced_CustomerSurvey_Model</class>
				<resourceModel>survey_mysql4</resourceModel>
            </customersurvey>
			<survey_mysql4>
				<class>Balanced_CustomerSurvey_Model_Mysql4</class>
				<entities>
					<survey>
						<table>survey</table>
					</survey>
					<questions>
						<table>survey_questions</table>
					</questions>
					<results>
						<table>survey_results</table>
					</results>
				</entities>
			</survey_mysql4>
		</models>
		<resources>
			<customersurvey_setup>
				<setup>
					<module>Balanced_CustomerSurvey</module>
				</setup>
                <connection>
                    <use>core_setup</use>
                </connection>				
			</customersurvey_setup>
            <customersurvey_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customersurvey_write>
            <customersurvey_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customersurvey_read>
        </resources>
	</global>
		
	<admin>
        <routers>
            <customersurvey_admin>
                <use>admin</use>
                <args>
                    <module>Balanced_CustomerSurvey</module>
                    <frontName>customersurvey_admin</frontName>
                </args>
            </customersurvey_admin>
        </routers>
    </admin>
	
	
    
    <adminhtml>
        <menu>
            <customersurvey translate="title" module="CustomerSurvey">
                <title>Customer Survey</title>
                <sort_order>180</sort_order>
                <children>
                    <menuitem1 module="CustomerSurvey">
                        <title>Create Survey</title>
                        <action>customersurvey_admin/view/edit</action>
                    </menuitem1>
					<menuitem2 module="CustomerSurvey">
                        <title>View Surveys</title>
                        <action>customersurvey_admin/view/index</action>
                    </menuitem2>
                </children>                
            </customersurvey>
        </menu>
		
        <acl>
            <resources>
                <admin>
                    <children>
                        <customersurvey translate="title" module="CustomerSurvey">
							<title>Customer Survey</title>
                			<sort_order>180</sort_order>
                            <children>
                                <menuitem1>
                                    <title>Create Survey</title>
                                </menuitem1>
                            </children>
                       </customersurvey>
                   </children>
               </admin>
           </resources>
        </acl>
    </adminhtml>    
    

</config>