<?xml version="1.0"?>
<config>
    <modules>
        <FactoryX_Lookbook>
            <version>1.7.10</version>
        </FactoryX_Lookbook>
    </modules>
    <admin>
        <routers>

            <adminhtml>
                <args>
                    <modules>
                        <FactoryX_Lookbook before="Mage_Adminhtml">FactoryX_Lookbook_Adminhtml</FactoryX_Lookbook>
                    </modules>
                </args>
            </adminhtml>

        </routers>
    </admin>
    <frontend>
        <routers>
            <lookbook>
                <use>standard</use>
                <args>
                    <module>FactoryX_Lookbook</module>
                    <frontName>lookbook</frontName>
                </args>
            </lookbook>
        </routers>
        <layout>
            <updates>
                <lookbook module="FactoryX_Lookbook">
                    <file>factoryx/lookbook.xml</file>
                </lookbook>
            </updates>
        </layout>
        <translate>
            <modules>
                <FactoryX_Lookbook>
                    <files>
                        <default>FactoryX_Lookbook.csv</default>
                    </files>
                </FactoryX_Lookbook>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <lookbook module="FactoryX_Lookbook">
                    <file>factoryx/lookbook.xml</file>
                </lookbook>
            </updates>
        </layout>
        <translate>
            <modules>
                <FactoryX_Lookbook>
                    <files>
                        <default>FactoryX_Lookbook.csv</default>
                    </files>
                </FactoryX_Lookbook>
            </modules>
        </translate>
        <events>
            <lookbook_save_before>
                <observers>
                    <lookbook_url_generate>
                        <type>singleton</type>
                        <class>lookbook/observer</class>
                        <method>generateLookbookUrl</method>
                    </lookbook_url_generate>
                </observers>
            </lookbook_save_before>
        </events>
    </adminhtml>
    <global>
        <cache>
            <types>
                <lookbook translate="label,description" module="lookbook">
                    <label>Lookbook</label>
                    <description>Factory X lookbooks</description>
                    <tags>FX_LOOKBOOK_CACHE_TAG</tags>
                </lookbook>
            </types>
        </cache>
        <models>
            <lookbook>
                <!-- Init model for mymod module -->
                <class>FactoryX_Lookbook_Model</class>
                <!-- Init db config handler for mymod models -->
                <resourceModel>lookbook_mysql4</resourceModel>
            </lookbook>
            <!-- declaring model vs db table relation -->
            <lookbook_mysql4>
                <class>FactoryX_Lookbook_Model_Mysql4</class>
                <!-- declare table test -->
                <entities>
                    <lookbook>
                        <table>fx_lookbook_lookbook</table>
                    </lookbook>
                    <store>
                        <table>fx_lookbook_store</table>
                    </store>
                    <image>
                        <table>fx_lookbook_image</table>
                    </image>
                    <lookbook_media>
                        <table>fx_lookbook_lookbook_media</table>
                    </lookbook_media>
                </entities>
            </lookbook_mysql4>
            <!-- Extend the Catalog Observer Model -->
            <catalog>
                <rewrite>
                    <observer>FactoryX_Lookbook_Model_Catalog_Observer</observer>
                </rewrite>
            </catalog>
        </models>
        <helpers>
            <lookbook>
                <class>FactoryX_Lookbook_Helper</class>
            </lookbook>
        </helpers>
        <blocks>
            <lookbook>
                <class>FactoryX_Lookbook_Block</class>
            </lookbook>
        </blocks>
        <resources>
            <lookbook_setup>
                <setup>
                    <module>FactoryX_Lookbook</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lookbook_setup>
            <lookbook_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lookbook_write>
            <lookbook_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lookbook_read>
        </resources>
    </global>
    <phpunit>
        <suite>
            <modules>
                <FactoryX_Lookbook/>
            </modules>
        </suite>
    </phpunit>
</config>