<?xml version="1.0"?>

<config>

    <modules>
        <FactoryX_Lookbook>
            <version>1.1.3</version>
        </FactoryX_Lookbook>
    </modules>
	
	<admin>
        <routers>
		
            <lookbook_admin>
				<use>admin</use>
				<args>
					<module>FactoryX_Lookbook</module>
					<frontName>lookbook_admin</frontName>
				</args>
            </lookbook_admin>	
			
        </routers>
	</admin>
	
	<frontend>
		<routers>
			<lookbook>
				<use>standard</use>
				<args>
					<module>FactoryX_Lookbook</module>
					<frontName>lookbook</frontName>
				</args>
			</lookbook>
		</routers>
		<layout>
			<updates>
				<lookbook module="FactoryX_Lookbook">
					<file>factoryx/lookbook.xml</file>
				</lookbook>
			</updates>
		</layout>
		<translate>
            <modules>
                <FactoryX_Lookbook>
                    <files>
                        <default>FactoryX_Lookbook.csv</default>
                    </files>
                </FactoryX_Lookbook>
            </modules>
        </translate>
	</frontend>
	
	<adminhtml>
        <translate>
            <modules>
                <FactoryX_Lookbook>
                    <files>
                        <default>FactoryX_Lookbook.csv</default>
                    </files>
                </FactoryX_Lookbook>
            </modules>
        </translate>
		<layout>
            <updates>
                <lookbook module="FactoryX_Lookbook">
                    <file>factoryx/lookbook.xml</file>
                </lookbook>
            </updates>
        </layout>
	</adminhtml>
	
	<global>
	
		<models>
			<lookbook>
                <!-- Init model for mymod module -->
                <class>FactoryX_Lookbook_Model</class>
                <!-- Init db config handler for mymod models -->
                <resourceModel>lookbook_mysql4</resourceModel>
            </lookbook>

            <!-- declaring model vs db table relation -->
            <lookbook_mysql4>
                <class>FactoryX_Lookbook_Model_Mysql4</class>
                <!-- declare table test -->
                <entities>
					<lookbook>
						<table>fx_lookbook_lookbook</table>
					</lookbook>
					<store>
						<table>fx_lookbook_store</table>
					</store>
					<image>
						<table>fx_lookbook_image</table>
					</image>
					<lookbook_media>
						<table>fx_lookbook_lookbook_media</table>
					</lookbook_media>
                </entities>
            </lookbook_mysql4>
		</models>
		
		<helpers>
			<lookbook>
                <class>FactoryX_Lookbook_Helper</class>
            </lookbook>
        </helpers>
		
		<blocks>
            <lookbook>
                <class>FactoryX_Lookbook_Block</class>
            </lookbook>
        </blocks>
		
		<resources>
			<lookbook_setup>
				<setup>
					<module>FactoryX_Lookbook</module>
				</setup>
                <connection>
                    <use>core_setup</use>
                </connection>				
			</lookbook_setup>
            <lookbook_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lookbook_write>
            <lookbook_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lookbook_read>
        </resources>

	</global>

</config>