<?xml version="1.0"?>
<config>

	<modules>
		<FactoryX_AdvertPanels>
			<version>0.2.0</version>
		</FactoryX_AdvertPanels>
	</modules>
	
	<frontend>
		<!-- Translation file -->
		<translate>
            <modules>
                <FactoryX_AdvertPanels>
                    <files>
                        <default>FactoryX_AdvertPanels.csv</default>
                    </files>
                </FactoryX_AdvertPanels>
            </modules>
        </translate>
	</frontend>
	
	<adminhtml>
		<translate>
			<modules>
				<FactoryX_AdvertPanels>
					<files>
						<default>FactoryX_AdvertPanels.csv</default>
					</files>
				</FactoryX_AdvertPanels>
			</modules>
		</translate>
	</adminhtml>

	<global>
	
		<models>
			<advertpanels>
				<class>FactoryX_AdvertPanels_Model</class>
			</advertpanels>
		</models>

		<catalog>
			<product>
				<type>
					<panel translate="label" module="advertpanels">
						<label>Panel Type</label>
						<model>advertpanels/product_type_panel</model>
						<is_qty>1</is_qty>
					</panel>
				</type>
			</product>
		</catalog>

		<helpers>
			<advertpanels>
				<class>FactoryX_AdvertPanels_Helper</class>
			</advertpanels>
		</helpers>
		
	</global>
	
</config>