<?xml version="1.0"?>
<config>
    <modules>
        <FactoryX_ConditionalAgreement>
            <version>0.1.1</version>
        </FactoryX_ConditionalAgreement>
    </modules>
    <global>
        <models>
            <conditionalagreement>
                <class>FactoryX_ConditionalAgreement_Model</class>
            </conditionalagreement>
        </models>
        <helpers>
            <conditionalagreement>
                <class>FactoryX_ConditionalAgreement_Helper</class>
            </conditionalagreement>
            <checkout>
                <rewrite>
                    <!-- Mage_Checkout_Helper_Data -->
                    <data>FactoryX_ConditionalAgreement_Helper_Data</data>
                </rewrite>                    
            </checkout>
        </helpers>
        <blocks>
            <conditionalagreement>
                <class>FactoryX_ConditionalAgreement_Block</class>
            </conditionalagreement>
        </blocks>
    </global>
    <admin>
        <!-- Admin route -->
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <FactoryX_ConditionalAgreement after="Mage_Adminhtml">FactoryX_ConditionalAgreement_Adminhtml</FactoryX_ConditionalAgreement>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <fx_conditonalagreement_add_coupon_chooser>
                        <type>model</type>
                        <class>conditionalagreement/admin_observer</class>
                        <method>addFormCouponChooser</method>
                    </fx_conditonalagreement_add_coupon_chooser>
                </observers>
            </adminhtml_block_html_before>
            <controller_action_layout_load_before>
                <observers>
                    <fx_conditonalagreement_add_editor_handle>
                        <type>model</type>
                        <class>conditionalagreement/admin_observer</class>
                        <method>addEditorHandle</method>
                    </fx_conditonalagreement_add_editor_handle>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <fx_conditionalagreement_block_before>
                        <type>singleton</type>
                        <class>conditionalagreement/observer</class>
                        <method>restrictAgreements</method>
                    </fx_conditionalagreement_block_before>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </frontend>
</config>