<?xml version="1.0"?>
<config>
	<modules>
		<FactoryX_CustomGrids>
			<version>0.0.1</version>
		</FactoryX_CustomGrids>
	</modules>
 
	<global>
		<models>
			<reports_resource>
				<rewrite>
					<!-- Mage_Reports_Model_Resource_Product_Collection -->
					<product_collection>FactoryX_CustomGrids_Model_Reports_Resource_Product_Collection</product_collection>
					<!-- Mage_Reports_Model_Resource_Product_Sold_Collection -->
					<product_sold_collection>FactoryX_CustomGrids_Model_Reports_Resource_Product_Sold_Collection</product_sold_collection>
				</rewrite>
			</reports_resource>
		</models>
		
		<blocks>
			<customgrids>
                <class>FactoryX_CustomGrids_Block</class>
            </customgrids>
			
			<adminhtml>
				<rewrite>
					<!-- Mage_Adminhtml_Block_Catalog_Product_Edit_Tab_Super_Config_Grid -->
					<catalog_product_edit_tab_super_config_grid>FactoryX_CustomGrids_Block_Adminhtml_Catalog_Product_Edit_Tab_Super_Config_Grid</catalog_product_edit_tab_super_config_grid>
					<!-- Mage_Adminhtml_Block_Sales_Order_Grid -->
					<sales_order_grid>FactoryX_CustomGrids_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
					<!-- Mage_Adminhtml_Block_Report_Product_Sold_Grid -->
					<report_product_sold_grid>FactoryX_CustomGrids_Block_Adminhtml_Report_Product_Sold_Grid</report_product_sold_grid>
					<!-- Mage_Adminhtml_Block_Report_Product_Lowstock_Grid -->
					<report_product_lowstock_grid>FactoryX_CustomGrids_Block_Adminhtml_Report_Product_Lowstock_Grid</report_product_lowstock_grid>
					<!-- Mage_Adminhtml_Block_Permissions_User_Grid -->
					<permissions_user_grid>FactoryX_CustomGrids_Block_Adminhtml_Permissions_User_Grid</permissions_user_grid>
					<!-- Mage_Adminhtml_Block_Permissions_User_Edit_Tab_Main -->
					<permissions_user_edit_tab_main>FactoryX_CustomGrids_Block_Adminhtml_Permissions_User_Edit_Tab_Main</permissions_user_edit_tab_main>
				</rewrite>
			</adminhtml>
		</blocks>
	</global>
</config>