<?xml version="1.0"?>
<config>
    <modules>
        <FactoryX_ChooserWidget>
            <version>0.0.3</version>
        </FactoryX_ChooserWidget>
    </modules>

    <global>
        <helpers>
            <chooserwidget>
                <class>FactoryX_ChooserWidget_Helper</class>
            </chooserwidget>
        </helpers>
    </global>

    <default>
        <chooser_widget>
            <defaults>
                <catalog_product_widget_chooser>
                    <input_label>Product</input_label>
                    <button_text>Select Product...</button_text>
                </catalog_product_widget_chooser>
                <catalog_category_widget_chooser>
                    <input_label>Category</input_label>
                    <button_text>Select Category...</button_text>
                </catalog_category_widget_chooser>
                <cms_block_widget_chooser>
                    <input_label>Block</input_label>
                    <button_text>Select Block...</button_text>
                </cms_block_widget_chooser>
                <cms_page_widget_chooser>
                    <input_label>CMS Page</input_label>
                    <button_text>Select CMS Page...</button_text>
                </cms_page_widget_chooser>
                <default>
                    <input_label>Element</input_label>
                    <button_text>Select...</button_text>
                </default>
            </defaults>
        </chooser_widget>
    </default>

</config>