<?xml version="1.0" ?>
<config>
	<modules>
		<FactoryX_ShippedFrom>
			<version>1.6.2</version>
		</FactoryX_ShippedFrom>
	</modules>

    <default>
        <shippedfrom>
            <settings_email>
                <template>shippedfrom_packing_slip_text</template>
                <subject>%STORE_NAME% - Packing Slip for Order #%ORDER_NBR%</subject>
                <attachment_prefix>packing_slip_</attachment_prefix>
            </settings_email>
            <default_values>
                <shipped_by>user</shipped_by>
                <shipped_by_user_field>fullname</shipped_by_user_field>
            </default_values>
            <settings_form>
                <show_all_stores>1</show_all_stores>
            </settings_form>
            <clickandsend>
                <active>1</active>
                <nondelivery_instructions>5</nondelivery_instructions>
                <from_country>AU</from_country>
                <service_code>auto</service_code>
                <article_type>21</article_type>
                <sender_track_advice>1</sender_track_advice>
                <receiver_track_advice>0</receiver_track_advice>
            </clickandsend>
            <cron_job_store_sales_report>
                <cron_expr>30 16 * * *</cron_expr>
            </cron_job_store_sales_report>
            <auspost>
                <label_layout>A4-1pp</label_layout>
                <label_branded>1</label_branded>
                <label_left_offset>0</label_left_offset>
                <label_top_offset>0</label_top_offset>
                <shipping_queue_cron_schedule>*/5 * * * *</shipping_queue_cron_schedule>
                <pending_labels_cron_schedule>*/5 * * * *</pending_labels_cron_schedule>
                <manifests_cron_schedule>0 1 * * *</manifests_cron_schedule>
                <separate_article_items>0</separate_article_items>
            </auspost>
            <auspost_log>
                <clean_after_day>10</clean_after_day>
                <enabled>1</enabled>
                <time/>
                <frequency>D</frequency>
                <error_email/>
                <error_email_identity>general</error_email_identity>
                <error_email_template>factoryx_shippedfrom_log_error_email_template</error_email_template>
            </auspost_log>
        </shippedfrom>
    </default>

    <global>
        <resources>
            <shippedfrom_setup>
                <setup>
                    <module>FactoryX_ShippedFrom</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shippedfrom_setup>
            <shippedfrom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shippedfrom_write>
            <shippedfrom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shippedfrom_read>
        </resources>
        <models>
            <shippedfrom>
                <class>FactoryX_ShippedFrom_Model</class>
                <resourceModel>shippedfrom_mysql4</resourceModel>
            </shippedfrom>
            <shippedfrom_mysql4>
                <class>FactoryX_ShippedFrom_Model_Resource</class>
                <entities>
                    <shipment_item>
                        <table>fx_shippedfrom_shipment_item</table>
                    </shipment_item>
                    <shipping_queue>
                        <table>fx_shippedfrom_shipping_queue</table>
                    </shipping_queue>
                    <orders>
                        <table>fx_shippedfrom_orders</table>
                    </orders>
                    <account>
                        <table>fx_shippedfrom_account</table>
                    </account>
                    <account_product>
                        <table>fx_shippedfrom_account_product</table>
                    </account_product>
                    <cron_log>
                        <table>fx_shippedfrom_cron_log</table>
                    </cron_log>
                </entities>
            </shippedfrom_mysql4>
            <australia>
                <rewrite>
                    <!-- Fontis_Australia_Model_Shipping_Carrier_Australiapost -->
                    <shipping_carrier_australiapost>FactoryX_ShippedFrom_Model_Australia_Shipping_Carrier_Australiapost</shipping_carrier_australiapost>
                </rewrite>
            </australia>
        </models>
        <events>
            <core_layout_block_create_after>
                <observers>
                    <shippedfrom_add_column_to_grid>
                        <type>singleton</type>
                        <class>shippedfrom/observer</class>
                        <method>beforeBlockToHtml</method>
                    </shippedfrom_add_column_to_grid>
                </observers>
            </core_layout_block_create_after>
            <core_collection_abstract_load_before>
                <observers>
                    <shippedfrom_core_collection_abstract_load_before>
                        <class>shippedfrom/observer</class>
                        <method>beforeCollectionLoad</method>
                    </shippedfrom_core_collection_abstract_load_before>
                </observers>
            </core_collection_abstract_load_before>
            <firegento_pdf_shipment_insert_note>
                <observers>
                    <shippedfrom_insert_note>
                        <type>singleton</type>
                        <class>shippedfrom/observer</class>
                        <method>addShipmentNotes</method>
                    </shippedfrom_insert_note>
                </observers>
            </firegento_pdf_shipment_insert_note>
            <sales_order_shipment_save_before>
                <observers>
                    <shippedfrom_sales_order_shipment_save_before>
                        <type>singleton</type>
                        <class>shippedfrom/observer</class>
                        <method>salesOrderShipmentSaveBefore</method>
                    </shippedfrom_sales_order_shipment_save_before>
                </observers>
            </sales_order_shipment_save_before>
            <sales_order_shipment_save_after>
                <observers>
                    <shippedfrom_sales_order_shipment_save_after>
                        <type>singleton</type>
                        <class>shippedfrom/observer</class>
                        <method>salesOrderShipmentSaveAfter</method>
                    </shippedfrom_sales_order_shipment_save_after>
                </observers>
            </sales_order_shipment_save_after>
            <adminhtml_block_html_before>
                <observers>
                    <shippedfrom_shipment_clickandsend_export_bulkaction>
                        <type>singleton</type>
                        <class>shippedfrom/shipping_carrier_clickandsend</class>
                        <method>addExportToBulkAction</method>
                    </shippedfrom_shipment_clickandsend_export_bulkaction>
                </observers>
            </adminhtml_block_html_before>
            <fontis_australia_auspost_tracking_info>
                <observers>
                    <shippedfrom_add_extra_tracking_info>
                        <type>singleton</type>
                        <class>shippedfrom/observer</class>
                        <method>addExtraTrackingInfo</method>
                    </shippedfrom_add_extra_tracking_info>
                </observers>
            </fontis_australia_auspost_tracking_info>
        </events>
        <blocks>
            <shippedfrom>
                <class>FactoryX_ShippedFrom_Block</class>
            </shippedfrom>
            <adminhtml>
                <rewrite>
                    <sales_order_shipment_view>FactoryX_ShippedFrom_Block_Adminhtml_Sales_Order_Shipment_View</sales_order_shipment_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <shippedfrom>
                <class>FactoryX_ShippedFrom_Helper</class>
            </shippedfrom>
        </helpers>
        <template>
            <email>
                <shippedfrom_packing_slip_html translate="label" module="shippedfrom">
                    <label>Shipped From Stores Packing Slip HTML</label>
                    <file>factoryx/shippedfrom/shippedfrom_packing_slip.html</file>
                    <type>html</type>
                </shippedfrom_packing_slip_html>
                <shippedfrom_packing_slip_text translate="label" module="shippedfrom">
                    <label>Shipped From Stores Packing Slip TXT</label>
                    <file>factoryx/shippedfrom/shippedfrom_packing_slip.txt</file>
                    <type>text</type>
                </shippedfrom_packing_slip_text>
                <shippedfrom_report translate="label" module="shippedfrom">
                    <label>shippedfrom_report</label>
                    <file>factoryx/shippedfrom/shippedfrom_report.html</file>
                    <type>html</type>
                </shippedfrom_report>
                <factoryx_shippedfrom_log_error_email_template translate="label" module="shippedfrom">
                    <label>Shippedfrom Log cleanup Warnings</label>
                    <file>factoryx/shippedfrom/log_clean_warning.html</file>
                    <type>text</type>
                </factoryx_shippedfrom_log_error_email_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <!--
                        before defines whether the controller should be looked
                        up in Mage_Adminhtml first (required for extending core)

                        Note. we cant use the FactoryX_ShippedFrom_Adminhtml class names as we are extending Mage_Adminhtml_Sales_Order_ShipmentController
                        e.g. any class under this space will fail, need to use observers!
                        <factoryx_shippedfrom before="Mage_Adminhtml">FactoryX_ShippedFrom_Adminhtml</factoryx_shippedfrom>
                        -->
                        <FactoryX_ShippedFrom before="Fontis_Australia">FactoryX_ShippedFrom_Adminhtml</FactoryX_ShippedFrom>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <FactoryX_ShippedFrom>
                    <file>factoryx/shippedfrom.xml</file>
                </FactoryX_ShippedFrom>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <factoryx_shippedfrom_report>
                <schedule>
                    <config_path>shippedfrom/cron_job_store_sales_report/cron_expr</config_path>
                </schedule>
                <run>
                    <model>shippedfrom/observer::storeSalesReport</model>
                </run>
            </factoryx_shippedfrom_report>
            <factoryx_shippedfrom_process_pending_shipping_queue>
                <schedule>
                    <config_path>shippedfrom/auspost/shipping_queue_cron_schedule</config_path>
                </schedule>
                <run>
                    <model>shippedfrom/cron::processPendingShippingQueue</model>
                </run>
            </factoryx_shippedfrom_process_pending_shipping_queue>
            <factoryx_shippedfrom_process_pending_label_queue>
                <schedule>
                    <config_path>shippedfrom/auspost/pending_labels_cron_schedule</config_path>
                </schedule>
                <run>
                    <model>shippedfrom/cron::processPendingLabels</model>
                </run>
            </factoryx_shippedfrom_process_pending_label_queue>
            <factoryx_shippedfrom_process_manifests>
                <schedule>
                    <config_path>shippedfrom/auspost/manifests_cron_schedule</config_path>
                </schedule>
                <run>
                    <model>shippedfrom/cron::processManifests</model>
                </run>
            </factoryx_shippedfrom_process_manifests>
            <factoryx_shippedfrom_log_clean>
                <run>
                    <model>shippedfrom/cron::logClean</model>
                </run>
            </factoryx_shippedfrom_log_clean>
        </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <FactoryX_ShippedFrom/>
            </modules>
        </suite>
    </phpunit>
</config>
