<?xml version="1.0" ?>
<config>

	<modules>
		<FactoryX_ShippedFrom>
			<version>1.1.4</version>
		</FactoryX_ShippedFrom>
	</modules>
	
	<global>
	
		<resources>
            <shippedfrom_setup>
    	        <setup>
            	    <module>FactoryX_ShippedFrom</module>
                </setup>
    	        <connection>
                    <use>core_setup</use>
    	        </connection>
            </shippedfrom_setup>
			<shippedfrom_write>
				<connection>
					<use>core_write</use>
				</connection>
			</shippedfrom_write>
			<shippedfrom_read>
				<connection>
					<use>core_read</use>
				</connection>
			</shippedfrom_read>
	    </resources>
		
		<models>
			<sales>
				<rewrite>
				  <order_pdf_shipment>FactoryX_ShippedFrom_Model_Sales_Order_Pdf_Shipment</order_pdf_shipment>
				</rewrite>
			</sales>
		</models>
		
		<blocks>
			<adminhtml>
				<rewrite>
					<sales_shipment_grid>FactoryX_ShippedFrom_Block_Adminhtml_Sales_Shipment_Grid</sales_shipment_grid>
					<sales_order_view_tab_shipments>FactoryX_ShippedFrom_Block_Adminhtml_Sales_Order_View_Tab_Shipments</sales_order_view_tab_shipments>
				</rewrite>
			</adminhtml>
		</blocks>
		
		<helpers>
        	<shippedfrom>
            	<class>FactoryX_ShippedFrom_Helper</class>
        	</shippedfrom>
    	</helpers>		
		
	</global>
	
	<admin>
        <routers>
		
            <shippedfrom>
				<use>admin</use>
				<args>
					<module>FactoryX_ShippedFrom</module>
					<frontName>shippedfrom</frontName>
				</args>
            </shippedfrom>
			
			<adminhtml>
				<args>
					<modules>
						<shippedfrom before="Mage_Adminhtml">FactoryX_ShippedFrom</shippedfrom>
					</modules>
				</args>
			</adminhtml>	
			
        </routers>
	</admin>
	
	<adminhtml>
	    <layout>
	        <updates>
	            <FactoryX_ShippedFrom>
	                <file>factoryx/shippedfrom.xml</file>
	            </FactoryX_ShippedFrom>
	        </updates>
	    </layout>
	</adminhtml>
	
</config>
