/* ==================================================
   Import princesshighway Styles to get Colour and Style tabs functioning.
================================================== */
/* Product Images */
.product-view .product-img-box { float:left; width:267px; }
.col3-layout .product-view .product-img-box { float:none; margin:0 auto; }
.product-view .product-img-box .product-image { border:0px solid #E5E5E5; }
.product-view .product-img-box .product-image-zoom { position:relative; width:265px; height:265px; overflow:hidden; z-index:9; }
.product-view .product-img-box .product-image-zoom img { position:absolute; left:0; top:0; cursor:move; }
.product-view .product-img-box .zoom-notice { text-align:center; font-size:12px; padding:12px 0 16px 0; }
.product-view .product-img-box .zoom { position:relative; z-index:9; height:18px; margin:0 auto 13px; padding:0 28px; background:url(../images/slider_bg.gif) 50% 50% no-repeat; cursor:pointer; }
.product-view .product-img-box .zoom.disabled { -moz-opacity:.3; -webkit-opacity:.3; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";/*IE8*/ opacity:.3; }
.product-view .product-img-box .zoom #track { position:relative; height:18px; }
.product-view .product-img-box .zoom #handle { position:absolute; left:0; top:-1px; width:11px; height:22px; background:url(../images/magnifier_handle.gif) 0 0 no-repeat;  }
.product-view .product-img-box .zoom .btn-zoom-out { position:absolute; left:2px; top:4px; }
.product-view .product-img-box .zoom .btn-zoom-in { position:absolute; right:2px; top:4px; }
.product-view .product-img-box .more-views h2 { font-size:12px; font-weight:bold; color:#4A4A4A; padding:11px 0 18px 0; }
.product-view .product-img-box .more-views ul { margin-left:-20px }
.product-view .product-img-box .more-views li { float:left; padding:1px; background-color:#E5E5E5; margin:0 0 8px 20px ; }

.product-image-popup { margin:0 auto; }
.product-image-popup .nav { text-align:center; }
.product-image-popup .image { display:block; }
.product-image-popup .image-label {}

/* Product Shop */
.product-view .product-shop { float:right; width:479px; }
.product-view .product-shop .product-name h1 { padding:7px 0 14px 0; font-size:12px; font-weight:bold; color:#4A4A4A; }
.product-view .product-shop .rating-links { padding:0 0 0 122px; }
.product-view .product-shop .ratings { padding:0 0 17px 0; margin:0;}
.product-view .product-shop .ratings  a{ color:#B8B8BA;}
.product-view .product-shop .no-rating { padding-top:10px;padding-bottom:10px; }
.product-view .product-shop .no-rating a { text-decoration:none; color:#B8B8BA; }
.product-view .product-shop .email-friend { padding:0 0 10px 0; }
.product-view .product-shop .price-box { padding:0 35px 0 0; /*float:left;*/ }
.product-view .product-shop .price { font-size:18.5pt; font-weight:bold; color:#D66030; }
.product-view .product-shop .availability { float:left; }
.product-view .product-shop .availability span { font-weight:normal; }
.product-view .product-shop .clear { height:26px !important; }
.product-view .product-shop .add-to-cart .qty { float:left; background:#fff; border:solid 1px #fff; width:71px !important; height:18px; }
.product-view .product-shop .add-to-cart button.button { margin-left:0px;width:350px;}
.product-view .product-shop .add-to-cart button.button  span {width:350px;background:url("../images/btn_bg_new.png") no-repeat scroll 0 0 transparent;text-align:left;}
.product-view .product-shop .add-to-box .or { margin:4px 13px; font-size:12px; font-weight:bold; }
.product-view .product-shop .add-to-links { margin:-6px 0 0 0; line-height:18px; }
.product-view .product-shop .short-description { padding:40px 0 0 0; }
.product-view .product-shop .short-description h2 { color:#383838; font-weight:bold; font-size:12px; padding:0 0 14px; }


/* Grouped Product */
.product-view .grouped-items-table { margin:13px 0 0 0; }

/* Product Tabs */
.product-tabs { margin-bottom:15px; border-bottom:1px solid #666; background:#f2f2f2 url(../images/bkg_tabs.gif) 0 100% repeat-x; }
.product-tabs li { float:left; border-right:1px solid #a4a4a4; border-left:1px solid #fff; font-size:1.1em; line-height:1em; }
.product-tabs li.first { border-left:0; }
.product-tabs li.last { border-right:0; }
.product-tabs a { display:block; padding:6px 15px; color:#444;  text-decoration:none; }
.product-tabs a:hover { background-color:#ddd; text-decoration:none; color:#444; }
.product-tabs li.active a,
.product-tabs li.active a:hover { background-color:#666; font-weight:bold; color:#fff; }
.product-tabs-content h2 { display:none; font-size:11px; font-weight:bold; }



