<?xml version="1.0"?>
<config>
    <modules>
        <FactoryX_CheckoutDiscount>
            <version>1.2.5</version>
        </FactoryX_CheckoutDiscount>
    </modules>
    <frontend>
    	<secure_url>
            <checkoutdiscount_index>/checkoutdiscount/index</checkoutdiscount_index>
        </secure_url>
        <routers>
            <checkoutdiscount>
                <use>standard</use>
                <args>
                    <module>FactoryX_CheckoutDiscount</module>
                    <frontName>checkoutdiscount</frontName>
                </args>
            </checkoutdiscount>
        </routers>
        <layout>
            <updates>
                <checkoutdiscount>
                    <file>factoryx/checkoutdiscount.xml</file>
                </checkoutdiscount>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>						
						<system>
                            <children>
                                <config>
                                    <children>
                                        <checkoutdiscount translate="title" module="checkoutdiscount">
                                            <title>Checkout Discount</title>
                                        </checkoutdiscount>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>   
    <global>
	    <events>
            <controller_action_predispatch_checkoutdiscount_index_submit>
                <observers>
                    <checkoutdiscount>
                        <type>singleton</type>
                        <class>checkoutdiscount/observer</class>
                        <method>applyGiftCert</method>
                    </checkoutdiscount>
                </observers>
            </controller_action_predispatch_checkoutdiscount_index_submit>
	    	<controller_action_postdispatch_checkout_onepage_saveBilling>
                <observers>
                    <checkoutdiscount>
                        <type>singleton</type>
                        <class>checkoutdiscount/observer</class>
                        <method>controller_action_postdispatch_checkout_onepage_saveBilling</method>
                    </checkoutdiscount>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveBilling>
            <controller_action_postdispatch_checkout_onepage_saveShipping>
                <observers>
                    <checkoutdiscount>
                        <type>singleton</type>
                        <class>checkoutdiscount/observer</class>
                        <method>controller_action_postdispatch_checkout_onepage_saveShipping</method>
                    </checkoutdiscount>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveShipping>
	   	</events>
        <models>
            <checkoutdiscount>
                <class>FactoryX_CheckoutDiscount_Model</class>
            </checkoutdiscount>
        </models>
        <blocks>
            <checkoutdiscount>
                <class>FactoryX_CheckoutDiscount_Block</class>
            </checkoutdiscount>
            <checkout>
	            <rewrite>
	            	<onepage>FactoryX_CheckoutDiscount_Block_Checkout_Onepage</onepage>
	            	<onepage_progress>FactoryX_CheckoutDiscount_Block_Checkout_Onepage_Progress</onepage_progress>
	            </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <checkoutdiscount>
                <class>FactoryX_CheckoutDiscount_Helper</class>
            </checkoutdiscount>
        </helpers>
    </global>
   
    <default>
		<checkoutdiscount>
			<config>
				<enable>1</enable>
				<remove_discount_box>1</remove_discount_box>
			</config>
		</checkoutdiscount>
    </default>
</config>