<?xml version="1.0"?>
<config>
    <modules>
        <FactoryX_Consolidated>
            <version>1.0.15</version>
        </FactoryX_Consolidated>
    </modules>
    <default>
        <consolidated>
            <options>
                <enable>1</enable>
            </options>
        </consolidated>
    </default>
	<global>
        <models>
            <fxcons>
                <class>FactoryX_Consolidated_Model</class>
            </fxcons>
        </models>
        <blocks>
            <fxcons>
                <class>FactoryX_Consolidated_Block</class>
            </fxcons>
        </blocks>
        <helpers>
            <fxcons>
                <class>FactoryX_Consolidated_Helper</class>
            </fxcons>
        </helpers>
        <resources>
            <fxcons_setup>
                <setup>
                    <module>FactoryX_Consolidated</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fxcons_setup>
        </resources>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <online_only />
                        <fx_cons_is_con />
                        <fx_cons_location />
                        <rrp/>
                        <season/>
                        <brand/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <fxcons_quote_item_set_product>
                        <class>fxcons/observer</class>
                        <method>salesQuoteItemSetAttribute</method>
                    </fxcons_quote_item_set_product>
                </observers>
            </sales_quote_item_set_product>
        </events>
        <!--
        convert attribute from:
        quote_item -> order_item
        order_item -> invoice_item
        -->
        <fieldsets>
            <sales_convert_quote_item>
                <online_only>
                    <to_order_item>*</to_order_item>
                </online_only>
                <!--
                <fx_cons_is_con>
                    <to_order_item>*</to_order_item>
                </fx_cons_is_con>
                -->
                <fx_cons_location>
                    <to_order_item>*</to_order_item>
                </fx_cons_location>
				<pre_order>
                    <to_order_item>*</to_order_item>
                </pre_order>
                <rrp>
                    <to_order_item>*</to_order_item>
                </rrp>
                <season>
                    <to_order_item>*</to_order_item>
                </season>
                <brand>
                    <to_order_item>*</to_order_item>
                </brand>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <online_only>
                    <to_invoice_item>*</to_invoice_item>
                </online_only>
                <!--
                <fx_cons_is_con>
                    <to_invoice_item>*</to_invoice_item>
                </fx_cons_is_con>
                -->
                <fx_cons_location>
                    <to_invoice_item>*</to_invoice_item>
                </fx_cons_location>                
				<pre_order>
                    <to_invoice_item>*</to_invoice_item>
                </pre_order>
                <rrp>
                    <to_order_item>*</to_order_item>
                </rrp>
                <season>
                    <to_order_item>*</to_order_item>
                </season>
                <brand>
                    <to_order_item>*</to_order_item>
                </brand>
            </sales_convert_order_item>
        </fieldsets>
	</global>

	<adminhtml>
	    <layout>
	        <updates>
	            <FactoryX_Consolidated>
	                <file>factoryx/consolidated.xml</file>
	            </FactoryX_Consolidated>
	        </updates>
	    </layout>
        <events>
            <controller_action_predispatch_adminhtml_catalog_product_action_attribute_save>
                <observers>
                    <fxcons_controller_action_predispatch_adminhtml_catalog_product_action_attribute_save>
                        <class>fxcons/observer</class>
                        <method>validateConsolidatedAttributesOnAttrSave</method>
                    </fxcons_controller_action_predispatch_adminhtml_catalog_product_action_attribute_save>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_action_attribute_save>
            <controller_action_predispatch_adminhtml_catalog_product_save>
                <observers>
                    <fxcons_controller_action_predispatch_adminhtml_catalog_product_save>
                        <class>fxcons/observer</class>
                        <method>validateConsolidatedAttributesOnProdSave</method>
                    </fxcons_controller_action_predispatch_adminhtml_catalog_product_save>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_save>
        </events>
	</adminhtml>

</config>
