<?xml version="1.0"?>

<config>

    <modules>
        <FactoryX_Homepage>
            <version>2.0.2</version>
        </FactoryX_Homepage>
    </modules>
	
	<admin>
        <routers>
		
            <homepage_admin>
				<use>admin</use>
				<args>
					<module>FactoryX_Homepage</module>
					<frontName>homepage_admin</frontName>
				</args>
            </homepage_admin>	
			
        </routers>
	</admin>
	
	<adminhtml>
        <translate>
            <modules>
                <FactoryX_Homepage>
                    <files>
                        <default>FactoryX_Homepage.csv</default>
                    </files>
                </FactoryX_Homepage>
            </modules>
        </translate>
		<layout>
            <updates>
                <homepage module="FactoryX_Homepage">
                    <file>factoryx/homepage.xml</file>
                </homepage>
            </updates>
        </layout>
	</adminhtml>
	
	<frontend>
		<routers>
			<homepage>
				<use>standard</use>
				<args>
					<module>FactoryX_Homepage</module>
					<frontName>homepage</frontName>
				</args>
			</homepage>
		</routers>
		<translate>
            <modules>
                <FactoryX_Homepage>
                    <files>
                        <default>FactoryX_Homepage.csv</default>
                    </files>
                </FactoryX_Homepage>
            </modules>
        </translate>
		<layout>
			<updates>
				<homepage module="FactoryX_Homepage">
					<file>factoryx/homepage.xml</file>
				</homepage>
			</updates>
		</layout>
	</frontend>
	
	<global>
		
		<models>
			<homepage>
                <!-- Init model for mymod module -->
                <class>FactoryX_Homepage_Model</class>
                <!-- Init db config handler for mymod models -->
                <resourceModel>homepage_mysql4</resourceModel>
            </homepage>

            <!-- declaring model vs db table relation -->
            <homepage_mysql4>
                <class>FactoryX_Homepage_Model_Mysql4</class>
                <!-- declare table test -->
                <entities>
					<homepage>
						<table>fx_homepage_homepage</table>
					</homepage>
                    <image>
                        <table>fx_homepage_image</table>
                    </image>
					<store>
						<table>fx_homepage_store</table>
					</store>
                </entities>
            </homepage_mysql4>
		</models>
		
		<resources>
			<homepage_setup>
				<setup>
					<module>FactoryX_Homepage</module>
				</setup>
                <connection>
                    <use>core_setup</use>
                </connection>				
			</homepage_setup>
            <homepage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </homepage_write>
            <homepage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </homepage_read>
        </resources>
		
		<helpers>
			<homepage>
                <class>FactoryX_Homepage_Helper</class>
            </homepage>
        </helpers>
		
		<blocks>
            <homepage>
                <class>FactoryX_Homepage_Block</class>
            </homepage>
        </blocks>

	</global>
	
	<crontab> 
		<jobs> 
			<FactoryX_Homepage>
				<schedule>
					<cron_expr>0 1 * * *</cron_expr>
				</schedule>
				<run>
					<model>homepage/observer::disableHomepages</model>
					<model>homepage/observer::enableHomepages</model>
				</run>
			</FactoryX_Homepage> 
		</jobs> 
	</crontab>

</config>