<?xml version="1.0"?>
<config>
	
	<modules>
        <FactoryX_Init>
            <version>0.3.2</version>
        </FactoryX_Init>
    </modules>
        
	<global>

        <helpers>
            <fxinit>
                <class>FactoryX_Init_Helper</class>
            </fxinit>
        </helpers>        
	    
		
		<!-- Database access resources -->
		<resources>       
			<fxinit_setup>
				<setup>
					<module>FactoryX_Init</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</fxinit_setup>
			<fxinit_write>
				<connection>
					<use>core_write</use>
				</connection>
			</fxinit_write>
			<fxinit_read>
				<connection>
					<use>core_read</use>
				</connection>
			</fxinit_read>
		</resources>	
		
    </global>
	
	
</config>
