<!--@subject {{var referrer}} thought you might like to enter the {{var contest_title}} @-->

<body>
	<center>
		<a href="{{var contest_url}}">If this email does not display correctly click here to view the online version</a>
		<br />
		<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
			<table cellspacing="0" cellpadding="0" border="0" width="980" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
				<tr>
					<td style="text-align:center">
						<a href="{{var contest_url}}">
							<img border="0" src="{{var contest_email_image}}" alt="{{var contest_title}}" />
						</a>
					</td>
				</tr>
			</table>
		</div>
	</center>
</body>