<!--@subject {{var fullname}} Abandoned Products In Your Shopping Bag! @-->
<body>
	<center>
		<div style="background-color:#fff; width:305px; text-align:left; font-family:arial; font-size:14px; padding:0 5px 0 5px">
			Dear {{var firstname}},<br />
			You have abandoned a {{var productname}} {{depend extraproductcount}} and {{var extraproductcount}} more products{{/depend}} in your shopping bag.<br/>
			
			Follow this link and log in to finalize your purchase: {{config path="web/unsecure/base_url"}}
		</div>
	</center>
</body>