<!--@subject {{var fullname}} Sale Products In Your Shopping Bag! @-->
<body>
	<center>
		<div style="background-color:#fff; width:305px; text-align:left; font-family:arial; font-size:14px; padding:0 5px 0 5px">
			Dear {{var firstname}},<br />
			You have abandoned a {{var productname}} in your shopping bag.<br/>
			
			It was AU${{var cartprice}} and now is AU${{var specialprice}}.<br/>
			
			{{depend extraproductcount}}
			Purchase the {{var extraproductcount}} other sale products in your cart and save AU${{var discount}} on your order.<br/>
			{{/depend}}
			
			Follow this link and log in to finalize your purchase with the new special price: {{config path="web/unsecure/base_url"}}
		</div>
	</center>
</body>