<?xml version="1.0"?>
<config>
	<tabs>
        <factoryx translate="label" module="contests">
            <label>Factory X</label>
            <sort_order>100</sort_order>
        </factoryx>
    </tabs>
	<sections>
		<contests translate="label" module="contests">
            <label>Contests</label>
            <tab>factoryx</tab>
            <sort_order>1001</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
				<options translate="label" module="contests">
					<label>Contests Options</label>
					<frontend_type>text</frontend_type>
					<sort_order>1001</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<name translate="label">
                            <label>Sender Name</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-emailSender</validate>                            
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
                        <email translate="label">
                            <label>Sender Email</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-email</validate>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email>
                        <template translate="label">
                            <label>Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </template>
						<m_to_cm_attributes translate="label">
							<label>Mapping betweens form and CM</label>
							<frontend_model>contests/adminhtml_linkedattributes</frontend_model>
							<backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Campaign monitor is giving different "Key" in setting data and getting data</comment>
						</m_to_cm_attributes>
					</fields>
				</options>
			</groups>
		</contests>
	</sections>
</config>