ul.sortable {
    width: 100%;
    margin: 10px;
}
ul.sortable li {
    display:inline-block;
    margin-bottom:20px;
    color: black;
    box-sizing: border-box;
    text-align: center;
    transition-property: transform, top, left;
}
ul.sortable li.disable{
    opacity:0.2;
}
ul.sortable li.out-of-stock{
    color: #A7A7A7;
    text-decoration: line-through;
}

ul.sortable li.ui-sortable-placeholder {
    visibility: visible!important;
    background: #aaa;
    /*box-shadow: inset 0 0 100px #6c6c6c;*/}
ul.sortable li.ui-sortable-placeholder.active {
    /*box-shadow: inset 0 0 200px #6c6c6c;   */
}
ul.sortable li.ui-sortable-placeholder.active.starting {
    transition-property: none;
}

ul.sortable li .link{
    margin:4px 0px;
}

ul.sortable li .link input{
    padding:2px 4px;
    box-sizing: border-box;
}

/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

input.invalid{
    border: 1px solid red;
}

ul.sortable li img{
    width:100%;
}

li .caption-text{
    position:absolute;
    top:0px;
    width:100%;
    background:rgba(255,255,255,0.87);
    display:none;
}

li .caption-text.hide{
    display:none !important;
}

li .caption-text.show{
    display:inherit !important;
}

li .caption-text.updated{
    background: #fdffb5;
    display:inherit !important;
}