<?xml version="1.0"?>
<config>
	<modules>
		<FactoryX_Sales>
			<version>0.1.3</version>
		</FactoryX_Sales>
	</modules>

    <frontend>
        <layout>
             <updates>
                  <factoryx_sales>
                        <file>factoryx/sales.xml</file>
                  </factoryx_sales>
             </updates>
        </layout>
    </frontend>	
	
	<default>
    	<sales_email>
            <stage2>
                <enabled>1</enabled>
                <template>sales_email_stage2_template</template>
                <guest_template>sales_email_stage2_template</guest_template>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </stage2>
		</sales_email>	
	</default>
	
	<global>
		<blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_view_tab_history before="Mage_Adminhtml_Block">FactoryX_Sales_Block_Sales_Order_View_Tab_History</sales_order_view_tab_history>
                </rewrite>
            </adminhtml>
        </blocks>		
		<models>
			<sales>
				<rewrite>
					<order>FactoryX_Sales_Model_Order</order>
					<order_shipment>FactoryX_Sales_Model_Order_Shipment</order_shipment>
				</rewrite>
			</sales>
		</models>
		<events>
			<!--			
			Factory_Sales
			add_status_history_comment_before
			add_status_history_comment_after
			-->
			<add_status_history_comment_before>
				<observers>
					<FactoryX_Sales_Model_Observer>
						<type>singleton</type>
						<class>FactoryX_Sales_Model_Observer</class>
						<method>statusHistoryCommentBefore</method>
					</FactoryX_Sales_Model_Observer>
				</observers>
			</add_status_history_comment_before>
			<add_status_history_comment_after>
				<observers>
					<FactoryX_Sales_Model_Observer>
						<type>singleton</type>
						<class>FactoryX_Sales_Model_Observer</class>
						<method>statusHistoryCommentAfter</method>
					</FactoryX_Sales_Model_Observer>
				</observers>
			</add_status_history_comment_after>			
		</events>
		
		<template>
	    	<email>
	    		<sales_email_stage2_template translate='label' module='sales'>
	    			<label>Stage2 Email</label>
	    			<file>factoryx/stage2Email.txt</file>
	    			<type>text</type>
	    		</sales_email_stage2_template>
	    	</email>
	    </template>
		
		<resources>       
			<fxsales_setup>
				<setup>
					<module>FactoryX_Sales</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</fxsales_setup>
			<fxsales_setup>
				<connection>
					<use>core_write</use>
				</connection>
			</fxsales_setup>
			<fxsales_setup>
				<connection>
					<use>core_read</use>
				</connection>
			</fxsales_setup>
		</resources>	

		<helpers>
			<!-- Declare module helper -->
            <fx_sales>
                <class>FactoryX_Sales_Helper</class>
            </fx_sales>
        </helpers>		
	</global>
</config>