<?xml version="1.0"?>
<config>

    <modules>
        <FactoryX_CartImage>
            <version>0.1.7</version>
        </FactoryX_CartImage>
    </modules>

    <global>

        <blocks>
            <cartimage>
                <class>FactoryX_CartImage_Block</class>
            </cartimage>

            <checkout>
                <rewrite>
                    <!-- Mage_Checkout_Block_Cart_Item_Renderer_Configurable -->
                    <cart_item_renderer_configurable>FactoryX_CartImage_Block_Checkout_Cart_Item_Renderer_Configurable</cart_item_renderer_configurable>
                </rewrite>
            </checkout>
        </blocks>

        <models>
            <cartimage>
                <class>FactoryX_CartImage_Model</class>
            </cartimage>
        </models>

        <helpers>
            <cartimage>
                <class>FactoryX_CartImage_Helper</class>
            </cartimage>
        </helpers>

    </global>

    <default>
        <cartimage>
            <general>
                <custom_image_label>front</custom_image_label>
            </general>
        </cartimage>
    </default>
</config>
