<?xml version="1.0"?>
<config>
    <modules>
        <Xigmapro_Jobs>
            <version>0.1.0</version>
        </Xigmapro_Jobs>
    </modules>
    <frontend>
        <routers>
            <jobs>
                <use>standard</use>
                <args>
                    <module>Xigmapro_Jobs</module>
                    <frontName>careers</frontName>
                </args>
            </jobs>
            <jobsview>
                <use>standard</use>
                <args>
                    <module>Xigmapro_Jobs</module>
                    <frontName>jobsview.html</frontName>
                </args>
            </jobsview>
            <jobsviewdetails>
                <use>standard</use>
                <args>
                    <module>Xigmapro_Jobs</module>
                    <frontName>jobsviewdetails.html</frontName>
                </args>
            </jobsviewdetails>
        </routers>
        <layout>
            <updates>
                <jobs>
                    <file>jobs.xml</file>
                </jobs>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <Jobs>
                <use>admin</use>
                <args>
                    <module>Xigmapro_Jobs</module>
                    <frontName>Jobs</frontName>
                </args>
            </Jobs>
        </routers>
    </admin>
    <adminhtml>
        <menu>
        	<factoryx_menu>
				<children>
					<factoryx_menu_manage_jobs module="Jobs">
						<title>Manage Jobs</title>
						<sort_order>10</sort_order>
						<action>Jobs/adminhtml_Jobs</action>
					</factoryx_menu_manage_jobs>
				</children>
			</factoryx_menu>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin translate="title" module="adminhtml">
					<children>
						<factoryx_menu>
							<children>
								<factoryx_menu_manage_jobs module="Jobs">
									<title>Manage Jobs</title>
									<sort_order>10</sort_order>
								</factoryx_menu_manage_jobs>
							</children>
						</factoryx_menu>
					</children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <Jobs>
                    <file>Jobs.xml</file>
                </Jobs>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <Jobs>
                <class>Xigmapro_Jobs_Model</class>
                <resourceModel>Jobs_mysql4</resourceModel>
            </Jobs>
            <Jobs_mysql4>
                <class>Xigmapro_Jobs_Model_Mysql4</class>
                <entities>
                    <Jobs>
                        <table>Jobs</table>
                    </Jobs>
                </entities>
            </Jobs_mysql4>
        </models>
        <resources>
            <Jobs_setup>
                <setup>
                    <module>Xigmapro_Jobs</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Jobs_setup>
            <Jobs_write>
                <connection>
                    <use>core_write</use>
                </connection>
 
 
            </Jobs_write>
            <Jobs_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Jobs_read>
        </resources>
        <blocks>
            <Jobs>
                <class>Xigmapro_Jobs_Block</class>
            </Jobs>
        </blocks>
        <helpers>
            <Jobs>
                <class>Xigmapro_Jobs_Helper</class>
            </Jobs>
        </helpers>
    </global>
</config>