<?xml version="1.0"?>

<config>

    <modules>
        <FactoryX_DebugTrace>
            <version>0.0.1</version>
        </FactoryX_DebugTrace>
    </modules>
    
    <global>
	
		<helpers>
            <debugtrace>
                <class>FactoryX_DebugTrace_Helper</class>
            </debugtrace>
        </helpers>
        
    </global>

</config>
