<?xml version="1.0"?>
<config>
    <modules>
        <FactoryX_CacheSupport>
            <version>1.1.6</version>
        </FactoryX_CacheSupport>
    </modules>
    <global>
        <blocks>
            <factoryx_cachesupport>
                <class>FactoryX_CacheSupport_Block</class>
            </factoryx_cachesupport>
        </blocks>
        <helpers>
            <factoryx_cachesupport>
                <class>FactoryX_CacheSupport_Helper</class>
            </factoryx_cachesupport>
        </helpers>
    </global>
    <frontend>
        <routers>
            <cachesupport>
                <use>standard</use>
                <args>
                    <module>FactoryX_CacheSupport</module>
                    <frontName>cachesupport</frontName>
                </args>
            </cachesupport>
        </routers>
        <layout>
            <updates>
                <factoryx_cachesupport>
                    <file>factoryx/cachesupport.xml</file>
                </factoryx_cachesupport>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <FactoryX_CacheSupport after="Mage_Adminhtml">FactoryX_CacheSupport_Adminhtml</FactoryX_CacheSupport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cachesupport module="FactoryX_CacheSupport">
                    <file>factoryx/cachesupport.xml</file>
                </cachesupport>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <varnishcache>
            <recentlyviewed>
                <enable>0</enable>
                <count>5</count>
                <ttl>1</ttl>
            </recentlyviewed>
            <toplinks>
                <enable>0</enable>
            </toplinks>
            <mobilecart>
                <enable>0</enable>
            </mobilecart>
            <cachewarming>
                <cmspage>0</cmspage>
                <catpage>0</catpage>
                <prodpage>0</prodpage>
                <prodpage_topx>10</prodpage_topx>
                <threads>3</threads>
                <debug>0</debug>
            </cachewarming>
        </varnishcache>
    </default>

    <phpunit>
        <suite>
            <modules>
                <FactoryX_CacheSupport/>
            </modules>
        </suite>
    </phpunit>
</config>