@charset "utf-8";
/* CSS Document */

select, input
{
    line-height: normal;
    vertical-align: top;
}

 #control {
        background: #fff;
        padding: 5px;
        font-size: 14px;
        font-family: Arial;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        display: none;
      }

.givepad{padding-left:90px;}
.top_title { border-bottom:1px;  background: url("../images/gmapstrlocator/cms_header.png") no-repeat scroll 0 0 transparent; margin-top: 44px; }
.top_title h1 {color: #000;
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 5px;
    text-transform: lowercase;
    margin: 0px;    
}
.head-content {    
    color: #000000;
    display: none;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1;
}

#row {
    background-color: #ccc;
}

#row.clicked {
    background-Color: #123abc;
}

.pagination {
    /*background: none repeat scroll 0 0 #E6E6E3;*/
    overflow: hidden;
    /*padding: 0 10px;*/
    position: relative;
}
.gmaps .block-layered-nav {
	 border-bottom: 1px solid #DADAD7;
    overflow: hidden;
    padding: 10px 0;
    float: none;
}
.gmaps .block-layered-nav .block-content{width:100% !important;float:none;}
/*.total_maps{
	cursor:pointer;
	float:right;
	color: #DA1A35;
	font-family: 'Open Sans',Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
}*/
#total_maps {
    color: #000000;
    cursor: pointer;
    display: none;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding-top: 37px;
    padding-right:40px;
}
#total_maps:hover { color:#FF4569; text-decoration:none; }

.clear { clear:both; }

.resultado {float:left; /*background:#e6e6e3;*/ /*width:945px;*/ min-height:30px; padding:6px 10px 0 10px;/* border-top:#dadad7 1px solid;*/ font-family:'Open Sans', Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#555555; }

.resultado h1 { font-family:'Open Sans', Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#000; text-transform:lowercase; float:left; padding-right:15px; }

.resultado .spanred { font-family:'Open Sans', Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#da1a35; }
.resultado .spanblack { font-family:'Open Sans', Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#000; }
.izi_map { width:965px; height:693px; position:relative; }

.izi_map .iib1 { width:24px; height:34px; position:absolute; right:360px; top:189px; }

.izi_map .iib2 { width:24px; height:34px; position:absolute; left:64px; top:390px; }

.izi_map .iib3 { width:24px; height:34px; position:absolute; left:387px; bottom:38px; }

.izi_map .popup { background-color:red; width:364px; position:absolute; top:112px; left:110px; }

.izi_map .popup .inner { background-color: green;  position:relative; width:364px; background:green; }

.izi_map .popup .inner .map_popup_top1 , .map_popup_top1 { background: #fff; padding:20px 20px 50px 20px; text-align: left !important; }

.izi_map .popup .inner .map_popup_top1 h1,.map_popup_top1 h1 { font-family:'Open Sans'; font-size:16px; font-weight:bold; color:#da1a35; text-transform:lowercase; border-bottom:#ededed 0px solid; line-height:16px; text-align: left !important;}

.izi_map .popup .inner .map_popup_top1 h2,.map_popup_top1 h2 { font-family:'Open Sans', Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#000; padding-top:8px; }

.izi_map .popup .inner .map_popup_top1 p,.map_popup_top1 p { font-family:'Open Sans', Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#777777; line-height:20px; padding-bottom:10px; }

.izi_map .popup .inner .map_popup_top1 p span,.map_popup_top1 p span {font-family:'Open Sans', Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#000; }

.izi_map .popup .inner .map_popup_top1 .getting_directions,.map_popup_top1 .getting_directions { width:100%; clear:both; border-top:#dadad7 0px solid; text-align:center !important; }

.izi_map .popup .inner .map_popup_top1 .getting_directions a,.map_popup_top1 .getting_directions a { text-decoration:none; width:130px; background-color:#f2f2f2; border:#d4d3cc 1px solid; padding:3px !important; display:block; margin:12px 0 5px 0px !important;  *margin:12px 0 0 0px; font-family:'Open Sans', Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#333; text-transform:lowercase; background-image:url(../../images/gmapstrlocator/icon1.png); background-position:right; background-repeat:no-repeat;}

.izi_map .popup .inner .map_popup_top1 .getting_directions a img,.map_popup_top1 .getting_directions a img { margin-bottom:-3px; margin-left:3px; margin-right:15px; }

.izi_map .popup .inner .map_popup_top1 .getting_directions a:hover,.map_popup_top1 .getting_directions a:hover { color:#da1a35; background-image:url(../../images/gmapstrlocator/icon1_hover.png); background-position:right; background-repeat:no-repeat;  }

/*Close*/

.izi_map .popup .inner .map_popup_top1 .close,.map_popup_top1 .close { position:absolute; right:-12px; top:-12px; width:29px; height:29px; }

/*Bottom*/

.izi_map .popup .inner .map_popup_bottom,.map_popup_bottom { position:absolute; left:0px; width:290px; height:35px; }

/*Popup1*/

.popup_bg { background:url(../../images/gmapstrlocator/popup_bg_trans.png) repeat; position:fixed; width:100%; height:100%; z-index:5000; }

.popup1 {  background: none repeat scroll 0 0 #FFFFFF;
    height: 195px;
    margin: auto;
    text-align: center;
    width: 240px;
    z-index: 6000 !important;}

.popup1 .inner { width:240px; position:relative; }

.popup1 .inner .close { width:29px; height:29px; position:absolute; right:-10px; top:-10px; }

.popup1 .inner .icon { padding-top:30px; }

.popup1 .inner p { font-family:'Open Sans', Arial, Helvetica, sans-serif; font-size:13px; font-weight:normal; color:#000; line-height:20px; padding:5px 0 0 0; }

.ustorelocator-location-map #SexyAlertBox-Box{background: none repeat scroll 0 0 transparent;
    
    left: 0 !important;
    padding: 0 !important;
    width: 100% !important;height: 100% !important;
    
}
.ustorelocator-location-map #SexyAlertBox-Box #SexyAlertBox-InBox {   background: none repeat scroll 0 0 transparent;
    height: 100% !important;
    padding: 0 !important;
    width: 100% !important;
}
.ustorelocator-location-map #SexyAlertBox-Box #SexyAlertBox-InBox #SexyAlertBox-BoxContent {padding:0 !important;
    background: none;
       height: 100% !important;
    padding: 0 !important;
    width: 100% !important; position: fixed;
}

.ustorelocator-location-map #SexyAlertBox-Box #SexyAlertBox-InBox #SexyAlertBox-Buttons{
   z-index:9999 !important;
   padding: 0 !important;
    right: 0px !important;
    text-align: center !important;
    top: -15px  !important;
    left: 250px !important;
    position: absolute;
    z-index: 9999 !important;
}
.ustorelocator-location-map #SexyAlertBox-BoxContenedor {
	position: relative;
	text-align: center !important;
	top: 45% !important;padding: 0 !important;
}

.main-container .input,.main-container  .input-text,.main-container  select,.main-container textarea {
	border: 1px solid #C9C9C7 !important;
	background-color:#E9E9E9;
}
.selectBox-dropdown {
	border: 1px solid #C9C9C7 !important;
}

.gmaps .filter-select{ padding: 0 10px 30px;}

.container_16 {padding:0 10px; }

.map_popup_top1 .store-thumb {  }
.map_popup_top1 .store-more-info { text-align: left;  }


/* --------------------------------------- */

#main {
	width:100%;
	margin:20px auto 0px auto;
	background-color:transparent;    
}

#main .controls-column {
    display: inline-block;
    float: right;
    width:36%;
}
#main .map { display: inline-block; width:62%;  margin-top:0px; }

#main .form { width:100%; margin:0 auto; padding:0px 0px 0px 0px; }

#main .form div { margin-top: 10px; }
#main .form div:first-child { margin-top: 0px; }

#main .form .field1,
#main .form .field2,
#main .form .jump_menu1 { width:auto;  /*margin-right:40px;*/}

#main .form .field1 p,
#main .form .field2 p,
#main .form .jump_menu1 p { font-family:'Open Sans', sans-serif; font-size:12px; color:#666; line-height:normal; margin: 0px; text-transform:lowercase; }

#main .form .field1 .input,
#main .form .field2 .input,
#main .form .jump_menu1 .jump_menu { width:74%; background:#FFF;  color:#666;  border:#b6b6b6 1px solid; font-family:'Open Sans', sans-serif; font-size:12px; margin-bottom:0px;}

#main .form .jump_menu1 .jump_menu { width:200px; padding:2px; }

#main .form .field1 .button,
#main .form .field2 .button { background:#BFBFBF; border:none; padding:7px 7px 6px; font-family:'Open Sans', sans-serif; font-size:12px; color:#FFF; font-weight:normal; cursor:pointer; margin-left:6px; text-transform: lowercase;}

#main .form .field1 .button:hover,
#main .form .field2 .button:hover { background:#A09F9F; border:none; }

 
/*Store*/

#main .stores { width:100%; /*background:#FFF;*/ margin-top:40px; }

/*Scroll Bar*/

/* Tiny Scrollbar */
#scrollbar1 { /*width: 430px;*/ margin: 0px 0 10px; }
#scrollbar1 .viewport { /*width: 400px;*/ height: 366px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar{ background: transparent url(../../images/gmapstrlocator/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar1 .track { background: transparent url(../../images/gmapstrlocator/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background: transparent url(../../images/gmapstrlocator/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar1 .thumb .end { background: transparent url(../../images/gmapstrlocator/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbar1 .disable { display: none; }

/*Content*/

#scrollbar1 .overview .content {/* width:400px; */}

#scrollbar1 .overview .content .store {/* width:380px;*/ background:#FFF; border-bottom: 1px solid #D8D8D8; cursor: pointer; margin-bottom: 10px; padding:0px; padding-top:0px; padding-bottom:0px; }
#scrollbar1 .overview .content .store:hover { background-color: #D8D8D8; }

#scrollbar1 .overview .content .store H2 { font-family:inherit; font-size:15px; color:#000; font-weight:normal; line-height:13px; }

#scrollbar1 .overview .content .store H2,
#scrollbar1 .overview .content .store .storedistance { display: inline-block; }

#scrollbar1 .overview .content .store .storedistance { background-color: transparent; float: right; margin-right: 10px; width:auto; }

#scrollbar1 .overview .content .store p,
#scrollbar1 .overview .content .store div {  text-transform:lowercase;  }

#scrollbar1 .overview .content .store a { font-family:inherit; font-size:inherit; color:inherit; font-weight:inherit; line-height:inherit }

#scrollbar1 .overview .content .store a:hover, a:active, a:focus { color:#000; text-decoration: none; }

#scrollbar1 .overview .content .store p { display: block; font-family:'Open Sans', sans-serif; font-size:12px; color:#999; font-weight:normal; line-height:normal; margin: 0px; padding: 0px; vertical-align: top; }

#scrollbar1 .overview .content .store .storeaddress { display: inline-block; margin-top: 10px; width:61% }
#scrollbar1 .overview .content .store .storedescription { display: inline-block; margin-top: 10px; width:36% }
#scrollbar1 .overview .content .store .storedescription .openday,
#scrollbar1 .overview .content .store .storedescription .opentime { display: inline-block; }
#scrollbar1 .overview .content .store .storedescription .openday { width: 56px }


/*Map*/




#map_canvas #pop_div h1 { color:#000000 !important; font-size:18px; text-transform:lowercase; }
#map_canvas #pop_div { color:#808080 !important; font-size:12px; font-weight:normal; text-transform:lowercase; }
#map_canvas #pop_div .openday { display:none; }
#map_canvas #pop_div .opentime { display:none; }
#map_canvas #pop_div .storeaddress { display:none; }
#map_canvas #pop_div blockquote { display:none; }
#map_canvas #pop_div .getting_directions a { background:#A9A9A9; background-image:none; border:1px solid #606060; color:#FFFFFF; float:left; font-size:14px; font-weight:normal; margin-bottom:10px; margin-top:10px; padding:5px 20px;  text-transform: lowercase; -webkit-text-stroke:none;  
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:3px; 
	background: -moz-linear-gradient(top, #A9A9A9 0%, #878787 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A9A9A9), color-stop(100%,#878787)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #A9A9A9 0%,#878787 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #A9A9A9 0%,#878787 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #A9A9A9 0%,#878787 100%); /* IE10+ */
	background: linear-gradient(to bottom, #A9A9A9 0%,#878787 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A9A9A9', endColorstr='#878787',GradientType=0 ); /* IE6-9 */ }
#map_canvas #pop_div .getting_directions a:hover { background:#858585; border:1px solid #606060; color:#FFFFFF; text-decoration:none; 
	background: -moz-linear-gradient(top, #858585 0%, #686868 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#858585), color-stop(100%,#686868)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #858585 0%,#686868 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #858585 0%,#686868 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #858585 0%,#686868 100%); /* IE10+ */
	background: linear-gradient(to bottom, #858585 0%,#686868 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858585', endColorstr='#686868',GradientType=0 ); /* IE6-9 */ }

#map_canvas .infoBox { }

reset-div { margin: 0px 0px 0px 0px; }
.reset-div #search_reset_btn { margin: 0px !important; }