<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <FactoryX_ProductExport>
            <version>1.0.0</version>
        </FactoryX_ProductExport>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <FactoryX_ProductExport before="Mage_Adminhtml">FactoryX_ProductExport</FactoryX_ProductExport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>