<?xml version="1.0"?>
<config>
    <tabs>
        <factoryx translate="label" module="framework">
            <label>Factory X</label>
            <sort_order>101</sort_order>
        </factoryx>
    </tabs>
    <sections>
        <framework translate="label" module="framework">
            <label>Framework</label>
            <tab>factoryx</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <options translate="label">
                    <label>Frameworks Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_bootstrap_css translate="label">
                            <label>Enable Bootstrap CSS</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_bootstrap_css>
                        <enable_bootstrap_js translate="label">
                            <label>Enable Bootstrap JS</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_bootstrap_js>
                        <enable_jasny_bootstrap_css translate="label">
                            <label>Enable Jasny Bootstrap CSS</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[what it <a href='http://www.jasny.net/bootstrap/css/' target='_blank' rel='noopener noreferrer'>jasny bootstrap css</a>?]]></comment>
                        </enable_jasny_bootstrap_css>
                        <enable_jasny_bootstrap_js translate="label">
                            <label>Enable Jasny Bootstrap JS</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[what it <a href='http://www.jasny.net/bootstrap/javascript/' target='_blank' rel='noopener noreferrer'>jasny bootstrap js</a>?]]></comment>
                        </enable_jasny_bootstrap_js>
                        <enable_fontawesome translate="label">
                            <label>Enable FontAwesome</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_fontawesome>
                        <enable_jquery translate="label">
                            <label>Enable jQuery</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_jquery>
                        <google_font_link translate="label comment">
                            <label>Google Font Link</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Copy here the code given by Google Fonts. You can add more fonts by pasting code after each other</comment>
                        </google_font_link>
                        <google_font_name translate="label comment">
                            <label>Google Font Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Copy here the nameof the Google Fonts without quotes. Comma separated if you add several. First one is automatically assigned to body.</comment>
                        </google_font_name>
                        <fixed_navbar translate="label">
                            <label>Fixed Navbar</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fixed_navbar>
                        <progress_checkout translate="label">
                            <label>Progress Checkout Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>framework/system_config_source_progress</source_model>
                            <backend_model>framework/system_config_backend_progress</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </progress_checkout>
                    </fields>
                </options>
                <toplinks translate="label">
                    <label>Top Links</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <wishlist translate="label">
                            <label>Wislist Configuration</label>
                            <frontend_type>select</frontend_type>
                            <source_model>framework/system_config_source_toplinksconfig</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </wishlist>
                        <wishlist_after translate="label">
                            <label>Wislist After Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </wishlist_after>
                        <wishlist_text translate="label">
                            <label>Wislist Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </wishlist_text>
                        <cart translate="label">
                            <label>Cart Configuration</label>
                            <frontend_type>select</frontend_type>
                            <source_model>framework/system_config_source_toplinksconfig</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cart>
                        <cart_after translate="label">
                            <label>Cart After Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cart_after>
                        <cart_text translate="label">
                            <label>Cart Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cart_text>
                    </fields>
                </toplinks>
                <navigation translate="label">
                    <label>Navigation</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <show_view_all translate="label">
                            <label>Show View All</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_view_all>
                        <hover translate="label comment">
                            <label>Show Subcategories on Hover</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Default behavior is a click on the parent category</comment>
                        </hover>
                    </fields>
                </navigation>
                <icons translate="label">
                    <label>Touch Icons</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <icon_57x57 translate="label comment">
                            <label>57x57 Icon</label>
                            <comment>Png only. iPhone(first generation or 2G), iPhone 3G, iPhone 3GS</comment>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">touch-icons</upload_dir>
                            <base_url type="media" scope_info="1">touch-icons</base_url>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </icon_57x57>
                        <icon_76x76 translate="label comment">
                            <label>76x76 Icon</label>
                            <comment>Png only. iPad and iPad mini @1x</comment>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">touch-icons</upload_dir>
                            <base_url type="media" scope_info="1">touch-icons</base_url>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </icon_76x76>
                        <icon_120x120 translate="label comment">
                            <label>120x120 Icon</label>
                            <comment>Png only. iPhone 4, iPhone 4s, iPhone 5, iPhone 5c, iPhone 5s, iPhone 6, iPhone 6s</comment>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">touch-icons</upload_dir>
                            <base_url type="media" scope_info="1">touch-icons</base_url>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </icon_120x120>
                        <icon_152x152 translate="label comment">
                            <label>152x152 Icon</label>
                            <comment>Png only. iPad and iPad mini @2x</comment>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">touch-icons</upload_dir>
                            <base_url type="media" scope_info="1">touch-icons</base_url>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </icon_152x152>
                        <icon_167x167 translate="label comment">
                            <label>167x167 Icon</label>
                            <comment>Png only. iPad Pro</comment>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">touch-icons</upload_dir>
                            <base_url type="media" scope_info="1">touch-icons</base_url>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </icon_167x167>
                        <icon_180x180 translate="label comment">
                            <label>180x180 Icon</label>
                            <comment>Png only. iPhone 6 Plus and iPhone 6s Plus</comment>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">touch-icons</upload_dir>
                            <base_url type="media" scope_info="1">touch-icons</base_url>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </icon_180x180>
                        <icon_192x192 translate="label comment">
                            <label>192x192 Icon</label>
                            <comment>Png only. Android Devices High Resolution</comment>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">touch-icons</upload_dir>
                            <base_url type="media" scope_info="1">touch-icons</base_url>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </icon_192x192>
                        <icon_128x128 translate="label comment">
                            <label>128x128 Icon</label>
                            <comment>Png only. Android Devices Normal Resolution</comment>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">touch-icons</upload_dir>
                            <base_url type="media" scope_info="1">touch-icons</base_url>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </icon_128x128>
                    </fields>
                </icons>
            </groups>
        </framework>
    </sections>
</config>