<?xml version="1.0"?> 
<config>
	<modules> 
		<FactoryX_ProductRefresh> 
			<version>1.0.2</version> 
		</FactoryX_ProductRefresh> 
	</modules> 
	<frontend>
		<routers> 
			<productrefresh>
				<use>standard</use>
				<args> 
					<module>FactoryX_ProductRefresh</module> 
					<frontName>productrefresh</frontName> 
				</args> 
			</productrefresh> 
		</routers>
	</frontend>    
</config>