<?xml version="1.0"?>
<config>
    <modules>
        <FactoryX_OrderBy>
            <version>0.2.8</version>
        </FactoryX_OrderBy>
    </modules>
    <global>
        <helpers>
            <orderby>
                <class>FactoryX_OrderBy_Helper</class>
            </orderby>
        </helpers>
        <models>
            <orderby>
                <class>FactoryX_OrderBy_Model</class>
            </orderby>
        </models>
        <events>
            <!--
            sales_order_save_after
            sales_order_place_after
            sales_model_service_quote_submit_after
            -->
            <sales_model_service_quote_submit_after>
                <observers>
                    <factoryx_saveorderby>
                        <class>orderby/observer</class>
                        <method>saveOrderBy</method>
                    </factoryx_saveorderby>
                </observers>
            </sales_model_service_quote_submit_after>
        </events>
        <blocks>
            <orderby>
                <class>FactoryX_OrderBy_Block</class>
            </orderby>
        </blocks>
        <resources>
            <orderby_setup>
                <setup>
                    <module>FactoryX_OrderBy</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderby_setup>

            <orderby_write>
                <connection>
                    <use>core_write</use>
                </connection>

            </orderby_write>
            <orderby_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderby_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <FactoryX_OrderBy>
                    <file>factoryx/orderby.xml</file>
                </FactoryX_OrderBy>
            </updates>
        </layout>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <FactoryX_OrderBy/>
            </modules>
        </suite>
    </phpunit>
</config>