<?xml version="1.0"?>
<config>
    <modules>
        <FactoryX_OrderBy>
            <version>0.2.1</version>
        </FactoryX_OrderBy>
    </modules>
    <global>
		<helpers>
			<orderby>
				<class>FactoryX_OrderBy_Helper</class>
			</orderby>  
		</helpers>
        <models>
            <orderby>
                <class>FactoryX_OrderBy_Model</class>
            </orderby>
        </models>
        <events>
            <sales_model_service_quote_submit_after>
                <observers>
                    <factoryx_orderby>
                        <class>orderby/observer</class>
                        <method>saveOrderBy</method>
                    </factoryx_orderby>
                </observers>
            </sales_model_service_quote_submit_after>
        </events>
        <blocks>
            <FactoryX_OrderBy>
                <class>FactoryX_OrderBy_Block</class>
            </FactoryX_OrderBy>
        </blocks>
        <resources>
            <orderby_setup>
                <setup>
                    <module>FactoryX_OrderBy</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderby_setup>
            
            <orderby_write>
                <connection>
                    <use>core_write</use>
                </connection>
                
            </orderby_write>
            <orderby_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderby_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <FactoryX_OrderBy>
                    <file>factoryx/orderby.xml</file>
                </FactoryX_OrderBy>
            </updates>
        </layout>
    </adminhtml>
</config>