<?xml version="1.0"?>
<config>
    <modules>
        <FactoryX_XMLFeed>
            <version>0.1.2</version>
        </FactoryX_XMLFeed>
    </modules>
    <global>
        <models>
            <xmlfeed>
                <class>FactoryX_XMLFeed_Model</class>
                <resourceModel>xmlfeedmysql4</resourceModel>
            </xmlfeed>
            <xmlfeedmysql4>
                <class>FactoryX_XMLFeed_Model_Mysql4</class>
            </xmlfeedmysql4>
        </models>
        <blocks>
            <xmlfeed><class>FactoryX_XMLFeed_Block</class></xmlfeed>
        </blocks>
		<helpers>
            <xmlfeed>
                <class>FactoryX_XMLFeed_Helper</class>
            </xmlfeed>
        </helpers>
    </global>

    <admin>
        <!--routers>
            <adminhtml>
                <args>
                    <modules>
                        <FactoryX_XMLFeed before="FactoryX_Adminhtml">FactoryX_XMLFeed</FactoryX_XMLFeed>
                    </modules>
                </args>
            </adminhtml>
        </routers-->
    </admin>

    <adminhtml>
    	<!--
        <translate>
            <modules>
                <FactoryX_XMLFeed>
                    <files>
                        <default>FactoryX_XMLFeed.csv</default>
                    </files>
                </FactoryX_XMLFeed>
            </modules>
        </translate>
        <layout>
            <updates>
                <xmlfeed>
                    <file>xmlfeed.xml</file>
                </xmlfeed>
            </updates>
        </layout>
        -->
    </adminhtml>
    <frontend>
    	<!--
        <events>
            <sales_order_item_save_after>
                <observers>
                    <notifystock>
                        <class>xmlfeed/observer</class>
                        <method>salesOrderItemSaveAfterNotifyStock</method>
                    </notifystock>
                </observers>
            </sales_order_item_save_after>
            <sales_order_item_save_after>
                <observers>
                    <ordernew>
                        <class>xmlfeed/observer</class>
                        <method>salesOrderItemSaveAfterOrderNew</method>
                    </ordernew>
                </observers>
            </sales_order_item_save_after>
        </events>
        <translate>
            <modules>
                <FactoryX_XMLFeed>
                    <files>
                        <default>FactoryX_XMLFeed.csv</default>
                    </files>
                </FactoryX_XMLFeed>
            </modules>
        </translate>
        <secure_url>
            <xmlfeedcatalog_review>/xmlfeed/catalog/review</xmlfeedcatalog_review>
            <xmlfeedorder_new>/xmlfeed/order/new</xmlfeedorder_new>
            <xmlfeedcatalog_notifystock>/xmlfeed/catalog/notifystock</xmlfeedcatalog_notifystock>
        </secure_url>
        -->
        <routers>
            <xmlfeed>
                <use>standard</use>
                <args>
                    <module>FactoryX_XMLFeed</module>
                    <frontName>xmlfeed</frontName>
                </args>
            </xmlfeed>
        </routers>
        <!--
        <layout>
            <updates>
                <xmlfeed>
                    <file>xmlfeed.xml</file>
                </xmlfeed>
            </updates>
        </layout>
        -->
    </frontend>
</config>
